<div class="container-fluid overview_bg p-0" onmouseover="navBarColorBefore()">
    <!-- blog overview -->
    <div class="container-fluid overview_section p-0">
        <!-- top margin -->
        <div class="top_margin_overview"></div>
        <h1 class="overview_linkpath">home • overview</h1>

        <h1 class="overview_heading mt-3">D&H Sécheron Overview</h1>

        <h1 class="overview_para_heading mt-5">
            D&H Sécheron is one of the leading welding manufacturers in India.
        </h1>
        <br />
        <h1 class="overview_para mt-3">
            Incepted in 1966, D&H Sécheron is an ISO 9001-2015 certified company that
            offers a comprehensive
        </h1>

        <h1 class="overview_para">
            range of welding solutions in the form of consumables, equipments,
            training and fabrication.
        </h1>
        <br />
        <!-- next -->
        <h1 class="overview_para mt-3">
            D&H Sécheron has been constantly challenging the status quo in the welding
            space with their
        </h1>

        <h1 class="overview_para">
            state-of-the-art production facilities, engineering prowess and wide
            spread dealer network, thus,
        </h1>

        <h1 class="overview_para mb-5">
            bringing forth the core values of Quality, Innovation and Import
            Substitution into existence.
        </h1>
        <br /><br />
        <!-- Vision Mission Values grid-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 VMV_bg" style="border-right: 1px solid rgb(170, 7, 7)">
                    <div>
                        <img src="../../../assets/overview/vision.png"
                            class="img-fluid overview_ico_img mx-auto d-block" alt="" srcset="" />

                        <h1 class="icon_heading mt-3 mb-4">Vision</h1>
                        <!--  -->
                        <h1 class="VMV_text">
                            To be an undisputed
                            <span style="font-weight: 400">‘Global Leader’</span> and a
                        </h1>

                        <h1 class="VMV_text">
                            <span style="font-weight: 400">‘Trendsetter’</span> offering
                            holistic welding
                        </h1>

                        <h1 class="VMV_text">solutions</h1>
                    </div>
                </div>
                <div class="col-md-4 VMV_bg" style="border-right: 1px solid rgb(155, 13, 13)">
                    <div>
                        <img src="../../../assets/overview/mision.png"
                            class="img-fluid overview_ico_img mx-auto d-block" alt="" srcset="" />

                        <h1 class="icon_heading mt-3 mb-4">Mission</h1>
                        <!--  -->
                        <h1 class="VMV_text">Exemplified in our tagline ‘Complete</h1>

                        <h1 class="VMV_text">Welding Support’, we aim to provide turn</h1>

                        <h1 class="VMV_text">
                            key solutions for all welding requirements,
                        </h1>
                    </div>
                </div>
                <div class="col-md-4 VMV_bg">
                    <div>
                        <img src="../../../assets/overview/value.png" class="img-fluid overview_ico_img mx-auto d-block"
                            alt="" srcset="" />

                        <h1 class="icon_heading mt-3 mb-4">Values</h1>
                        <!--  -->
                        <h1 class="VMV_text">D&H Sécheron has become one of the</h1>

                        <h1 class="VMV_text">most trusted and respected welding</h1>

                        <h1 class="VMV_text">companies in India. The company pride</h1>

                        <h1 class="VMV_text">
                            itself on a set of core values that have been
                        </h1>

                        <h1 class="VMV_text">instrumental in sculpting a welding</h1>

                        <h1 class="VMV_text">powerhouse that D&H Sécheron is today</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- Our Committment -->
        <div class="container-fluid" style="background-color: white">
            <br /><br />
            <h1 class="Our_Committment_heading pt-5 pb-5">Our Committment</h1>
            <br />
            <!-- Row 1 Our Committment  -->
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-4 god_css Our_Committment_card">
                            <h1 class="Our_Committment_card_heading">Knowledge & Training</h1>
                        </div>
                        <div class="col-md-4 god_css Our_Committment_card">
                            <div>
                                <h1 class="Our_Committment_card_heading" style="color: var(--main-parent-colorOne)">
                                    Technology Driven
                                </h1>
                                <p class="Our_Committment_card_text pt-3">
                                    We are constantly innovating with new Welding Products which
                                    are inspired by technological advancements and breakthroughs,
                                    enabling cost-effective welding solutions and enhanced product
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 god_css Our_Committment_card">
                            <h1 class="Our_Committment_card_heading">
                                Comprehensive Offering
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <!-- Row 2 Our Committment  -->
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-4 god_css Our_Committment_card">
                            <h1 class="Our_Committment_card_heading">Quality</h1>
                        </div>
                        <div class="col-md-4">
                            <h1 class="Our_Committment_card_heading"></h1>
                        </div>
                        <div class="col-md-4 god_css Our_Committment_card">
                            <h1 class="Our_Committment_card_heading">Innovation</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br /><br /><br /><br />
        </div>

        <!-- Board of Directors -->
        <div class="container-fluid" style="background-color: var(--main-parent-colorTwo)">
            <br /><br />
            <h1 class="Board_of_Directors_heading pt-5 pb-5">Board of Directors</h1>
            <br />
            <!-- row 1 card Board of Directors -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 directors_card god_css">
                        <div>
                            <h1 class="name_of_directors">Mr. Murlidhar D. Khatri</h1>
                            <h1 class="directors_post">Managing Director</h1>
                        </div>
                    </div>
                    <div class="col-md-4 directors_card god_css">
                        <div>
                            <h1 class="name_of_directors">Mr. Ashok H. Maheshwari</h1>
                            <h1 class="directors_post">Chairman & Whole-Time Director</h1>
                        </div>
                    </div>
                    <div class="col-md-4 directors_card god_css">
                        <div>
                            <h1 class="name_of_directors">Mrs. Suman A. Maheshwari</h1>
                            <h1 class="directors_post">Whole-Time Director</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row 2 card Board of Directors -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 directors_card god_css">
                        <div>
                            <h1 class="name_of_directors">Mr. Arvind A. Maheshwari</h1>
                            <h1 class="directors_post">
                                Vice Chairman & Whole-Time Director
                            </h1>
                        </div>
                    </div>
                    <div class="col-md-4 directors_card_blank god_css">
                        <div>
                            <h1 class="name_of_directors"></h1>
                            <h1 class="directors_post"></h1>
                        </div>
                    </div>
                    <div class="col-md-4 directors_card god_css">
                        <div>
                            <h1 class="name_of_directors">Mr. Ashutosh A. Maheshwari</h1>
                            <h1 class="directors_post">Joint Chief Executive Officer</h1>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <hr />
            <!-- photo section Board of Directors -->
            <div class="container-fluid"></div>
        </div>
    </div>
</div>