<div class="container-fluid Power_Sector_bg p-0 animated fadeIn" onmouseover="navBarColorBefore()">
  <!-- top bar -->
  <div style="height: 160px"></div>
  <!-- Case_Studies heading_bar -->
  <div class="container-fluid">
    <h1 class="Case_Studies_link mt-3">home • industries</h1>

    <h1 class="Case_main_heading mb-5">Industries</h1>
  </div>

  <div class="container-fluid Case_Studies_first_grid">
    <!-- row 1 -->
    <div class="row">
      <div class="col-md-4 col-4 grid_first_box god_css">
        <h4 (click)="cardNav(1)" [ngClass]="{ first_col_heading: true, active: 1 == cardId }">
          CEMENT PLANTS
        </h4>
      </div>
      <div class="col-md-4 col-4 grid_first_box god_css">
        <h4 (click)="cardNav(2)" [ngClass]="{ first_col_heading: true, active: 2 == cardId }">
          POWER SECTOR
        </h4>
      </div>
      <div class="col-md-4 col-4 grid_first_box god_css">
        <h4 (click)="cardNav(3)" [ngClass]="{ first_col_heading: true, active: 3 == cardId }">
          EARTH MOVING
        </h4>
      </div>
    </div>
    <!-- row 2  -->
    <div class="row">
      <div class="col-md-4 col-3 grid_first_box god_css">
        <h4 (click)="cardNav(4)" [ngClass]="{ first_col_heading: true, active: 4 == cardId }">
          MARINE SECTOR
        </h4>
      </div>
      <div class="col-md-4 col-6 grid_first_box god_css">
        <ng-container *ngFor="let industry of Industries">
          <ng-template [ngIf]="cardId === industry.id">
            <img src="../../../assets/INDUSTRIES/{{industry.image}}" class="img-fluid industries_img" alt=""
              srcset="" />
            <a [routerLink]="['./Sector',industry.id]" class="industries_name">{{
              industry.heading | uppercase
            }}</a>
          </ng-template> 
        </ng-container>
        <ng-container *ngIf="cardId == null">
          <img src="../../../assets/INDUSTRIES/industrial-icon.png" class="img-fluid" width="150px" alt="" />
        </ng-container>
      </div>
      <div class="col-md-4 col-3 grid_first_box god_css">
        <h4 (click)="cardNav(5)" [ngClass]="{ first_col_heading: true, active: 5 == cardId }">
          RAILWAY SECTOR
        </h4>
      </div>
    </div>
    <!-- row 3 -->
    <div class="row">
      <div class="col-md-4 col-4 grid_first_box god_css">
        <h4 (click)="cardNav(6)" [ngClass]="{ first_col_heading: true, active: 6 == cardId  }">
          STEEL INDUSTRY
        </h4>
      </div>
      <div class="col-md-4 col-4 grid_first_box god_css">
        <h4 (click)="cardNav(7)" [ngClass]="{ first_col_heading: true, active: 7 == cardId }">
          SUGAR PLANTS
        </h4>
      </div>
      <div class="col-md-4 col-4 grid_first_box god_css">
        <h4 (click)="cardNav(8)" [ngClass]="{ first_col_heading: true, active: 8 == cardId }">
          TRANSPORT SECTOR
        </h4>
      </div>
    </div>
    <!--  -->

    <!--  -->
  </div>
</div>


<router-outlet (activate)="alwaysFromTop($event)"></router-outlet>