<div class="container-fluid Power_Sector_bg p-0" onmouseover="navBarColorBefore()">
  <!--  -->
      <div style="height: 150px;"></div>
  <!--  -->
<div class="Power_Sector_img_bg god_css">
<div>
  <h1 class="POWER_SECTOR_link"> HOME • INDUSTRIES • <span style="color: white;">POWER SECTOR</span></h1>
  <h1 class="Power_Sector_heading">Power Sector</h1>
</div>
</div>

  <br>
  <h1 class="Power_Sector_paragraph mt-5">The Power Sector though most important also happens to be the most wear prone one leaving room</h1>
  <h1 class="Power_Sector_paragraph">for factors like abrasion, impact, erosion, corrosion, cavitation and other breakdowns to affect the</h1>
  <h1 class="Power_Sector_paragraph">critical components required for power generation. Replacement of worn out components is an
</h1>
  <h1 class="Power_Sector_paragraph">expensive and time consuming proposition as it needs plant stoppage in many cases. Our LoTherme
 </h1>
  <h1 class="Power_Sector_paragraph">Research and development (R&D) offers a series of solutions to combat the wear & tear with minimal
</h1>
  <h1 class="Power_Sector_paragraph mb-5">cost so that the components in a power plant run undeterred and uninterrupted</h1>
  <!--  Coal Handling Plant table-->
  <div class="container-fluid">
 <h1 class="Coal_Handling_Plant_heading pb-4">Coal Handling Plant</h1>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 table-responsive-sm">
        <table class="table table-sm">
    <thead >
      <tr>
        <th style=" border-bottom: 2px solid #B2776E;">
          S.No.</th>
        <th style=" border-bottom: 2px solid #B2776E;">
          Components</th>
        <th style=" border-bottom: 2px solid #B2776E;">
          Base metals</th>
        <th style=" border-bottom: 2px solid #B2776E;">
          Wear factor</th>
        <th style=" border-bottom: 2px solid #B2776E;">
          Recommended Electrodes</th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <td class="top_bar table_num">1</td>
        <td class="top_bar">Coal Mill Vertical Shaft </td>
        <td class="top_bar">A. Steel</td>
        <td class="top_bar">Wear</td>
        <td class="top_bar Recommended_num">468</td>
      </tr>
      <tr>
        <td class="table_num">2</td>
        <td>Roller Yoke</td>
        <td>C. Steel </td>
        <td>Wear</td>
        <td class="Recommended_num">603</td>
      </tr>
      <tr>
        <td class="table_num">3</td>
        <td>Coal Bend</td>
        <td>CI</td>
        <td>Wear </td>
        <td class="Recommended_num">701</td>
      </tr>
      <tr>
        <td class="table_num">4</td>
        <td>Coal Office </td>
        <td>CI</td>
        <td>Wear </td>
        <td class="Recommended_num">701</td>
      </tr>
    <tr>
         <td class="table_num">5</td>
        <td>Boiler Feed Pump </td>
        <td>A. Steel</td>
        <td>Wear</td>
        <td class="Recommended_num">468</td>
      </tr>
    <tr>
        <td class="table_num">6</td>
        <td>Coal Burner Nozzle </td>
        <td>S.G. Iron</td>
        <td>Wear</td>
        <td class="Recommended_num">603</td>
      </tr>
    <tr>
        <td class="table_num">7</td>
        <td>Nozzle Tip  </td>
        <td>SS 310 </td>
        <td>Wear</td>
        <td class="Recommended_num">464 + T904</td>
      </tr>
    <tr>
        <td class="table_num">8</td>
        <td>I D Fan Shaft </td>
        <td>A. Steel </td>
        <td>Wear </td>
        <td class="Recommended_num">468</td>
      </tr>

    </tbody>
  </table>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>

   <!--  ASH Handling Plant table-->
  <div class="container-fluid">
 <h1 class="Coal_Handling_Plant_heading pb-4 pt-4">ASH Handling Plant</h1>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 table-responsive-sm">
        <table class="table table-sm">
    <thead >
      <tr>
        <th style=" border-bottom: 2px solid #B2776E;">
          S.No.</th>
        <th style=" border-bottom: 2px solid #B2776E;">
          Components</th>
        <th style=" border-bottom: 2px solid #B2776E;">
          Base metals</th>
        <th style=" border-bottom: 2px solid #B2776E;">
          Wear factor</th>
        <th style=" border-bottom: 2px solid #B2776E;">
          Recommended Electrodes</th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <td class="top_bar table_num">1</td>
        <td class="top_bar">Coal Mill Vertical Shaft </td>
        <td class="top_bar">A. Steel</td>
        <td class="top_bar">Wear</td>
        <td class="top_bar Recommended_num">468</td>
      </tr>
      <tr>
        <td class="table_num">2</td>
        <td>Roller Yoke</td>
        <td>C. Steel </td>
        <td>Wear</td>
        <td class="Recommended_num">603</td>
      </tr>
      <tr>
        <td class="table_num">3</td>
        <td>Coal Bend</td>
        <td>CI</td>
        <td>Wear </td>
        <td class="Recommended_num">701</td>
      </tr>
     <tr>
        <td class="table_num">4</td>
        <td>Coal Bend</td>
        <td>CI</td>
        <td>Wear </td>
        <td class="Recommended_num">701</td>
      </tr>
    </tbody>
  </table>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>

   <!--  Applications in Power Industry
 table-->
  <div class="container-fluid">
 <h1 class="Coal_Handling_Plant_heading pb-4 pt-4">Applications in Power Industry
</h1>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 table-responsive-sm">
        <table class="table table-sm">
    <thead >
      <tr>
       <th style=" border-bottom: 2px solid #B2776E;">
          S.No.</th>
        <th style=" border-bottom: 2px solid #B2776E;">
          Components</th>
        <th style=" border-bottom: 2px solid #B2776E;">
          Base metals</th>
        <th style=" border-bottom: 2px solid #B2776E;">
          Wear factor</th>
        <th style=" border-bottom: 2px solid #B2776E;">
          Recommended Electrodes</th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <td class="top_bar table_num">1</td>
        <td class="top_bar">Coal Mill Vertical Shaft </td>
        <td class="top_bar">A. Steel</td>
        <td class="top_bar">Wear</td>
        <td class="top_bar Recommended_num">468</td>
      </tr>
      <tr>
        <td class="table_num">2</td>
        <td>Roller Yoke</td>
        <td>C. Steel </td>
        <td>Wear</td>
        <td class="Recommended_num">603</td>
      </tr>
      <tr>
        <td class="table_num">3</td>
        <td>Coal Bend</td>
        <td>CI</td>
        <td>Wear </td>
        <td class="Recommended_num">701</td>
      </tr>
      <tr>
        <td class="table_num">4</td>
        <td>Coal Office </td>
        <td>CI</td>
        <td>Wear </td>
        <td class="Recommended_num">701</td>
      </tr>
    <tr>
         <td class="table_num">5</td>
        <td>Boiler Feed Pump </td>
        <td>A. Steel</td>
        <td>Wear</td>
        <td class="Recommended_num">468</td>
      </tr>
    <tr>
        <td class="table_num">6</td>
        <td>Coal Burner Nozzle </td>
        <td>S.G. Iron</td>
        <td>Wear</td>
        <td class="Recommended_num">603</td>
      </tr>
    <tr>
        <td class="table_num">7</td>
        <td>Nozzle Tip  </td>
        <td>SS 310 </td>
        <td>Wear</td>
        <td class="Recommended_num">464 + T904</td>
      </tr>
    <tr>
        <td class="table_num">8</td>
        <td>I D Fan Shaft </td>
        <td>A. Steel </td>
        <td>Wear </td>
        <td class="Recommended_num">468</td>
      </tr>

    </tbody>
  </table>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
  <br><br>

</div>
<!-- child navbar -->
<div class="child_navbar">
  <span [routerLink]="[ '../Casestudy']" class="links">&nbsp;&nbsp; Case Studies</span>
</div>
<!-- popup -->


<!-- Modal -->
<div *ngIf="popop" class="popup_alert show god_css">
  <div class="modal-content p-3 bounceIn">
      <img src="../../../assets/casestudy/case_popup.png" class="img-fluid" alt="">
      <h5>Explore to Case Studies</h5>
      <div class="row">
        <div class="col-6">
          <a (click)="noThanks(false)" class="btn popupBtn my-2">no thanks</a>
        </div>
        <div class="col-6">
          <a class="btn popupBtn my-2" routerLink="../Casestudy">ok</a>
        </div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
