<div class="container-fluid about_us_bg p-0" onmouseover="navBarColorBefore()">
  <div style="height: 155px;"></div>
  <div>
    <h1 class="About_link">HOME • <span style="color: black;">ABOUT</span></h1>
    <h1 class="About_heading">About D&H Sécheron</h1>
  </div>
  <!--  -->
  <div class="container">
    <div class="row row_reverse">
      <div class="col-md-6 god_css">
        <div>
          <h1 class="about_us_grid_text_heading">
            D&H Sécheron is one of the leading welding manufacturers in India.
          </h1>

          <h1 class="about_us_grid_text">
            Incepted in 1966, D&H Sécheron is an ISO 9001-2015 certified company
            thatoffers a comprehensive range of welding solutions in the form of
            consumables,equipments, training and fabrication.
          </h1>

          <h1 class="about_us_grid_text mt-4">
            D&H Sécheron has been constantly challenging the status quo in the
            welding space with their state-of-the-art production facilities,
            engineering prowess andwide spread dealer network, thus, bringing
            forth the core values of Quality,Innovation and Import Substitution
            into existence.
          </h1>
        </div>
      </div>
      <div class="col-md-6">
        <img
          src="../../../assets/aboutus/about_us_grid_img.png"
          width="100%"
          class="img-fluid aboutus_grid_img"
          alt=""
          srcset=""
        />
      </div>
    </div>
    <br /><br /><br />
  </div>

  <!-- Our Range of Welding Solutions -->
  <div class="container-fluid Welding_Solutions_bg">
    <h1 class="Welding_Solutions_heading">
      <span
        ><img
          src="../../../assets/aboutus/about_ico.png"
          width="60px"
          alt=""
          srcset=""
      /></span>
      Our Range of Welding Solutions
    </h1>

    <div class="container btn_container">
      <div class="row">
        <div class="col-lg-4 god_css">
          <button class="btn btn-lg custom_btn">
            Welding Consumables
          </button>
        </div>
        <div class="col-lg-4 god_css">
          <button class="btn btn-lg custom_btn">
            Service Welding
          </button>
        </div>
        <div class="col-lg-4 god_css">
          <button class="btn btn-lg custom_btn">
            Welding and Cutting Equipment
          </button>
        </div>
      </div>
      <br /><br /><br />
    </div>
  </div>

  <!-- History -->
  <div class="container-fluid History_bg">
    <h1 class="History_heading">History</h1>
    <div class="row">
      <div class="col-lg-2 year_item_scroll">
        <a
          *ngFor="let About of History"
          data-target="#myCarousel"
          [attr.data-slide-to]="About.slideAttr"
          class="active"
          onclick="OneItems()"
          class="year"
          >{{ About.year }}</a
        >
      </div>
      <div class="col-lg-8 p-3">
        <section class="slide-wrapper History_container">
          <div class="containerbox">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <h2 class="History_year">1977</h2>
                  <h2 class="History_par">
                    Supratherme: A superb E7018 class electrode unmatched in
                    quality to date
                  </h2>
                </div>

                <div *ngFor="let About of History" class="carousel-item">
                  <h2 class="History_year">{{ About.year }}</h2>

                  <h2 class="History_par">{{ About.name }}</h2>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="overlays "></div>
      </div>
      <div class="col-lg-2"></div>
    </div>

    <br />
  </div>
</div>

<app-footer></app-footer>
