<div class="container-fluid p-0" onmouseover="navBarColorBefore()">
    <div style="height:130px"></div>
    <div class="container-fluid CSR_Policy_bg god_css">
      <span>
        <h1 class="CSR_Policy_path">
          <span style="color: rgb(207, 202, 202);">
          HOME • 
          ABOUT US
          </span>
          • 
          CSR</h1>

          <!-- heading -->
      <h1 class="CSR_Policy_heading mt-3">CSR Policy</h1>
      </span>
    </div>
        <!-- paragraph -->
    <div class="container-fluid CSR_paragraph_bg">

      <h1 class="CSR_Policy_paragraph">Being a socially responsible company, we staunchly believe in doing greater good to the society</h1>

      <h1 class="CSR_Policy_paragraph">and nation as a whole. As a registered trust, we have undertaken key CSR initiatives that create
      </h1>

      <h1 class="CSR_Policy_paragraph">social, environmental and economic impact adding overall value to varied strata of society.</h1>
     
    </div>

                 <!-- CSR pvt two block  -->
     <div class="container-fluid CSR_pvt_bg">
       <div class="row">
         <div class="col-lg-6 CSR_block_paddnig" style="border-right: 1px solid white; border-bottom: 3px solid white;">
            <h1 class="CSR_pvt_text">D&H SÉCHERON ELECTRODES PRIVATE LIMITED
            </h1>
            <h1 class="CSR_pvt_text_sub">(CIN U32101MH1965PTC164343)
            </h1>
         </div>
         <div class="col-lg-6 CSR_block_paddnig mt-2" style="border-bottom: 3px solid white;">
            <h1 class="CSR_pvt_text">CORPORATE SOCIAL RESPONSIBILITY (CSR) POLICY</h1>
            <h1 class="CSR_pvt_text_sub">(Approved by the Board of Directors on 29th March 2014)</h1>
         </div>
       </div>
     </div>  
     
     <!-- Our Activities container -->
     <div class="container-fluid Activities_container_bg">
                       <!-- heading -->
        <h1 class="Our_Activities_heading">Our Activities</h1>
                       <!--         -->

        <h1 class="Our_Activities_sub_text mt-2"><span class="Activities_highlight" >For the purpose</span> of the relief of the poor.</h1>

        <h1 class="Our_Activities_sub_text mt-3"><span class="Activities_highlight">For the advancement</span> and prorogation or education and learning
        </h1>

        <h1 class="Our_Activities_sub_text mt-3"><span class="Activities_highlight">Grant or contributions</span> for or towards the promotion of the welfare of orphans and poor children.
        </h1>

        <h1 class="Our_Activities_sub_text mt-3"><span class="Activities_highlight">Promotion of health</span> of poor, distressed, afflicted and mentally, physically or psychologically challenged.</h1>

        <h1 class="Our_Activities_sub_text mt-3"><span class="Activities_highlight">Supplying and donating</span> clothes, bed linen, fuel, tools, medical or other aid in sickness, food or other articles, in kind to the poor.
        </h1>

        <h1 class="Our_Activities_sub_text mt-3"><span class="Activities_highlight">In helping people</span> in times of floods, famines, earth quakes and in such other natural calamities, by way of lending money free of <br> interest, donations, etc. Arranging for residential accommodation and providing medical aid, food, clothes etc to such affected people.
        </h1>
     </div>
  
  </div>

 
 