<div class="container-fluid p-0 animated fadeIn" onmouseover="navBarColorBefore()">
  <div style="height: 150px"></div>
  <div class="aptitude_bg god_css">
    <div>
      <h1 class="aptitude_link">
        HOME • CAREERS • <span style="color: black">APTITUDE TEST</span>
      </h1>
      <h1 class="aptitude_heading">Aptitude Test</h1>
      <h5 class="aptitude_user">Welcome to your Aptitude Test</h5>
    </div>
  </div>
  <!-- all question box-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <app-questions></app-questions>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>
