<!-- Certifications container -->

<!--Certifications  paragraph  -->
<div
  class="container-fluid CERTIFICATIONS_paragraph_bg"
  onmouseover="navBarColorBefore()"
>
  <div style="height: 150px;"></div>
  <h1 class="CERTIFICATIONS_path">
    HOME • ABOUT US •
    <span style="color: black;">
      CERTIFICATIONS
    </span>
  </h1>
  <!-- heading -->
  <h1 class="CERTIFICATIONS_heading mt-4">Certifications</h1>

  <!--  -->
  <h1 class="Certifications_paragraph_text mt-5">
    Our certifications are a true testimony of the belief entrusted by various
    Indian and International agencies in us.
  </h1>
  <h1 class="Certifications_paragraph_text">
    Inspection agencies like Lloyds Registrar of Shipping, American Bureau of
    Shipping, Det Norske Veritas etc. have
  </h1>
  <h1 class="Certifications_paragraph_text">
    approved our plants and products.
  </h1>

  <h1 class="Certifications_paragraph_text mt-4">
    Re-emphasizing our focus on Quality, we involve employees at all level and
    hold periodic reviews of our Quality
  </h1>
  <h1 class="Certifications_paragraph_text pb-5">
    Policies and Objectives for their suitability and effectiveness with one
    clear goal in mind –
    <span style="color: #e31e24; font-weight: 700;">‘Client Satisfaction’</span
    >.
  </h1>
</div>
<!--  -->

<!-- Certifications logo container -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 p-5">
      <!-- logo icon row 1 -->
      <div class="row">
        <div class="col-4">
          <a href="">
            <img
              class="img-fluid p-2"
              src="../../../../assets/certication_img/certiefication1.png"
              alt=""
              srcset=""
            />
          </a>
        </div>
        <div class="col-4">
          <a href="">
            <img
              class="img-fluid p-2"
              src="../../../../assets/certication_img/certiefication2.png"
              alt=""
              srcset=""
            />
          </a>
        </div>
        <div class="col-4">
          <a href="">
            <img
              class="img-fluid p-2"
              src="../../../../assets/certication_img/certiefication3.png"
              alt=""
              srcset=""
            />
          </a>
        </div>
        <div class="col-4">
          <a href="">
            <img
              class="img-fluid p-2"
              src="../../../../assets/certication_img/certiefication4.png"
              alt=""
              srcset=""
            />
          </a>
        </div>
        <div class="col-4">
          <a href="">
            <img
              class="img-fluid p-2"
              src="../../../../assets/certication_img/certiefication5.png"
              alt=""
              srcset=""
            />
          </a>
        </div>
        <div class="col-4">
          <a href="">
            <img
              class="img-fluid p-2"
              src="../../../../assets/certication_img/certiefication6.png"
              alt=""
              srcset=""
            />
          </a>
        </div>

        <div class="col-4">
          <a href="">
            <img
              class="img-fluid p-2"
              src="../../../../assets/certication_img/certiefication7.png"
              alt=""
              srcset=""
            />
          </a>
        </div>
        <div class="col-4">
          <a href="">
            <img
              class="img-fluid p-2"
              src="../../../../assets/certication_img/certication12.png"
              alt=""
              srcset=""
            />
          </a>
        </div>
        <div class="col-4">
          <a href="">
            <img
              class="img-fluid p-2"
              src="../../../../assets/certication_img/certiefication8.png"
              alt=""
              srcset=""
            />
          </a>
        </div>
        <div class="col-4">
          <a href="">
            <img
              class="img-fluid p-2"
              src="../../../../assets/certication_img/certiefication9.png"
              alt=""
              srcset=""
            />
          </a>
        </div>
        <div class="col-4">
          <a href="">
            <img
              class="img-fluid p-2"
              src="../../../../assets/certication_img/certiefication10.png"
              alt=""
              srcset=""
            />
          </a>
        </div>
        <div class="col-4">
          <a href="">
            <img
              class="img-fluid p-2"
              src="../../../../assets/certication_img/certiefication11.png"
              alt=""
              srcset=""
            />
          </a>
        </div>
      </div>

    </div>
    <div class="col-lg-7 god_css">
      <!-- main card for logo -->
      <div class="Certifications_main_card_bg p-3">
        <div class="row Logo_card_padding">
          <div class="col-md-3">
            <img
              class="img-fluid Certifications_card_img d-block mx-auto"
              src="../../../../assets/certication_img/Main_card_certication12.png"
              width="100px"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-md-9">
            <h1 class="Certifications_card_name mb-4">DET NORSKE VERITAS</h1>
            <!-- table -->
            <div class="row">
              <div class="col-6">
                <h1 class="Certi_card_table_heading">Our Brands Names</h1>
              </div>
              <div class="col-6">
                <h1 class="Certi_card_table_heading">AWS Codes</h1>
              </div>
            </div>
            <!-- tr 1 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Exobel</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 2 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Indotherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 3 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Medio</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 4 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Norma</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 5 -->
            <div class="row p-1">
              <div class="col-6">
                <h1 class="td_text">Supratherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
          </div>
        </div>

        <!-- tr btn -->
        <div class="row p-1">
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
        </div>
        <!--  -->
      </div>
      <!--  -->
      
    </div>
  </div>
</div>
<!--  -->

<!-- all logo card Certifications -->

<!-- card 1 -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-7 god_css">
      <!-- main card for logo -->
      <div class="Certifications_main_card_bg p-3">
        <div class="row Logo_card_padding">
          <div class="col-md-3">
            <img
              class="img-fluid Certifications_card_img d-block mx-auto"
              src="../../../../assets/certication_img/certiefication1.png"
              width="100px"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-md-9">
            <h1 class="Certifications_card_name mb-4">DET NORSKE VERITAS</h1>
            <!-- table -->
            <div class="row">
              <div class="col-6">
                <h1 class="Certi_card_table_heading">Our Brands Names</h1>
              </div>
              <div class="col-6">
                <h1 class="Certi_card_table_heading">AWS Codes</h1>
              </div>
            </div>
            <!-- tr 1 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Exobel</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 2 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Indotherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 3 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Medio</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 4 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Norma</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 5 -->
            <div class="row p-1">
              <div class="col-6">
                <h1 class="td_text">Supratherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
          </div>
        </div>

        <!-- tr btn -->
        <div class="row p-1">
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
        </div>
        <!--  -->
      </div>
      <!--  -->
    </div>
  </div>
</div>
<!------------------------------------------------------  -->

<!-- card 2 -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7 god_css">
      <!-- main card for logo -->
      <div class="Certifications_main_card_bg p-3">
        <div class="row Logo_card_padding">
          <div class="col-md-3">
            <img
              class="img-fluid Certifications_card_img d-block mx-auto"
              src="../../../../assets/certication_img/certiefication2.png"
              width="100px"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-md-9">
            <h1 class="Certifications_card_name mb-4">DET NORSKE VERITAS</h1>
            <!-- table -->
            <div class="row">
              <div class="col-6">
                <h1 class="Certi_card_table_heading">Our Brands Names</h1>
              </div>
              <div class="col-6">
                <h1 class="Certi_card_table_heading">AWS Codes</h1>
              </div>
            </div>
            <!-- tr 1 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Exobel</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 2 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Indotherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 3 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Medio</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 4 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Norma</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 5 -->
            <div class="row p-1">
              <div class="col-6">
                <h1 class="td_text">Supratherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
          </div>
        </div>

        <!-- tr btn -->
        <div class="row p-1">
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
        </div>
        <!--  -->
      </div>
      <!--  -->
    </div>

    <div class="col-lg-5"></div>
  </div>
</div>
<!-- ------------------------------------------------------ -->
<!-- card 3 -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-7 god_css">
      <!-- main card for logo -->
      <div class="Certifications_main_card_bg p-3">
        <div class="row Logo_card_padding">
          <div class="col-md-3">
            <img
              class="img-fluid Certifications_card_img d-block mx-auto"
              src="../../../../assets/certication_img/certiefication3.png"
              width="100px"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-md-9">
            <h1 class="Certifications_card_name mb-4">DET NORSKE VERITAS</h1>
            <!-- table -->
            <div class="row">
              <div class="col-6">
                <h1 class="Certi_card_table_heading">Our Brands Names</h1>
              </div>
              <div class="col-6">
                <h1 class="Certi_card_table_heading">AWS Codes</h1>
              </div>
            </div>
            <!-- tr 1 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Exobel</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 2 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Indotherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 3 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Medio</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 4 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Norma</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 5 -->
            <div class="row p-1">
              <div class="col-6">
                <h1 class="td_text">Supratherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
          </div>
        </div>

        <!-- tr btn -->
        <div class="row p-1">
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
        </div>
        <!--  -->
      </div>
      <!--  -->
    </div>
  </div>
</div>
<!------------------------------------------------------  -->
<!-- card 4 -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7 god_css">
      <!-- main card for logo -->
      <div class="Certifications_main_card_bg p-3">
        <div class="row Logo_card_padding">
          <div class="col-md-3">
            <img
              class="img-fluid Certifications_card_img d-block mx-auto"
              src="../../../../assets/certication_img/certiefication4.png"
              width="100px"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-md-9">
            <h1 class="Certifications_card_name mb-4">DET NORSKE VERITAS</h1>
            <!-- table -->
            <div class="row">
              <div class="col-6">
                <h1 class="Certi_card_table_heading">Our Brands Names</h1>
              </div>
              <div class="col-6">
                <h1 class="Certi_card_table_heading">AWS Codes</h1>
              </div>
            </div>
            <!-- tr 1 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Exobel</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 2 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Indotherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 3 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Medio</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 4 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Norma</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 5 -->
            <div class="row p-1">
              <div class="col-6">
                <h1 class="td_text">Supratherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
          </div>
        </div>

        <!-- tr btn -->
        <div class="row p-1">
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
        </div>
        <!--  -->
      </div>
      <!--  -->
    </div>

    <div class="col-lg-5"></div>
  </div>
</div>
<!-- ------------------------------------------------------ -->
<!-- card 5 -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-7 god_css">
      <!-- main card for logo -->
      <div class="Certifications_main_card_bg p-3">
        <div class="row Logo_card_padding">
          <div class="col-md-3">
            <img
              class="img-fluid Certifications_card_img d-block mx-auto"
              src="../../../../assets/certication_img/certiefication5.png"
              width="100px"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-md-9">
            <h1 class="Certifications_card_name mb-4">DET NORSKE VERITAS</h1>
            <!-- table -->
            <div class="row">
              <div class="col-6">
                <h1 class="Certi_card_table_heading">Our Brands Names</h1>
              </div>
              <div class="col-6">
                <h1 class="Certi_card_table_heading">AWS Codes</h1>
              </div>
            </div>
            <!-- tr 1 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Exobel</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 2 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Indotherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 3 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Medio</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 4 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Norma</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 5 -->
            <div class="row p-1">
              <div class="col-6">
                <h1 class="td_text">Supratherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
          </div>
        </div>

        <!-- tr btn -->
        <div class="row p-1">
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
        </div>
        <!--  -->
      </div>
      <!--  -->
    </div>
  </div>
</div>
<!------------------------------------------------------  -->

<!-- card 6 -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7 god_css">
      <!-- main card for logo -->
      <div class="Certifications_main_card_bg p-3">
        <div class="row Logo_card_padding">
          <div class="col-md-3">
            <img
              class="img-fluid Certifications_card_img d-block mx-auto"
              src="../../../../assets/certication_img/certiefication6.png"
              width="100px"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-md-9">
            <h1 class="Certifications_card_name mb-4">DET NORSKE VERITAS</h1>
            <!-- table -->
            <div class="row">
              <div class="col-6">
                <h1 class="Certi_card_table_heading">Our Brands Names</h1>
              </div>
              <div class="col-6">
                <h1 class="Certi_card_table_heading">AWS Codes</h1>
              </div>
            </div>
            <!-- tr 1 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Exobel</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 2 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Indotherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 3 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Medio</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 4 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Norma</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 5 -->
            <div class="row p-1">
              <div class="col-6">
                <h1 class="td_text">Supratherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
          </div>
        </div>

        <!-- tr btn -->
        <div class="row p-1">
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
        </div>
        <!--  -->
      </div>
      <!--  -->
    </div>

    <div class="col-lg-5"></div>
  </div>
</div>
<!-- ------------------------------------------------------ -->
<!-- card 7 -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-7 god_css">
      <!-- main card for logo -->
      <div class="Certifications_main_card_bg p-3">
        <div class="row Logo_card_padding">
          <div class="col-md-3">
            <img
              class="img-fluid Certifications_card_img d-block mx-auto"
              src="../../../../assets/certication_img/certiefication7.png"
              width="100px"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-md-9">
            <h1 class="Certifications_card_name mb-4">DET NORSKE VERITAS</h1>
            <!-- table -->
            <div class="row">
              <div class="col-6">
                <h1 class="Certi_card_table_heading">Our Brands Names</h1>
              </div>
              <div class="col-6">
                <h1 class="Certi_card_table_heading">AWS Codes</h1>
              </div>
            </div>
            <!-- tr 1 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Exobel</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 2 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Indotherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 3 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Medio</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 4 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Norma</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 5 -->
            <div class="row p-1">
              <div class="col-6">
                <h1 class="td_text">Supratherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
          </div>
        </div>

        <!-- tr btn -->
        <div class="row p-1">
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
        </div>
        <!--  -->
      </div>
      <!--  -->
    </div>
  </div>
</div>
<!------------------------------------------------------  -->

<!-- card 8 -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7 god_css">
      <!-- main card for logo -->
      <div class="Certifications_main_card_bg p-3">
        <div class="row Logo_card_padding">
          <div class="col-md-3">
            <img
              class="img-fluid Certifications_card_img d-block mx-auto"
              src="../../../../assets/certication_img/certiefication8.png"
              width="100px"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-md-9">
            <h1 class="Certifications_card_name mb-4">DET NORSKE VERITAS</h1>
            <!-- table -->
            <div class="row">
              <div class="col-6">
                <h1 class="Certi_card_table_heading">Our Brands Names</h1>
              </div>
              <div class="col-6">
                <h1 class="Certi_card_table_heading">AWS Codes</h1>
              </div>
            </div>
            <!-- tr 1 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Exobel</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 2 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Indotherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 3 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Medio</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 4 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Norma</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 5 -->
            <div class="row p-1">
              <div class="col-6">
                <h1 class="td_text">Supratherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
          </div>
        </div>

        <!-- tr btn -->
        <div class="row p-1">
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
        </div>
        <!--  -->
      </div>
      <!--  -->
    </div>

    <div class="col-lg-5"></div>
  </div>
</div>
<!-- ------------------------------------------------------ -->
<!-- card 9 -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-7 god_css">
      <!-- main card for logo -->
      <div class="Certifications_main_card_bg p-3">
        <div class="row Logo_card_padding">
          <div class="col-md-3">
            <img
              class="img-fluid Certifications_card_img d-block mx-auto"
              src="../../../../assets/certication_img/certiefication9.png"
              width="100px"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-md-9">
            <h1 class="Certifications_card_name mb-4">DET NORSKE VERITAS</h1>
            <!-- table -->
            <div class="row">
              <div class="col-6">
                <h1 class="Certi_card_table_heading">Our Brands Names</h1>
              </div>
              <div class="col-6">
                <h1 class="Certi_card_table_heading">AWS Codes</h1>
              </div>
            </div>
            <!-- tr 1 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Exobel</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 2 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Indotherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 3 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Medio</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 4 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Norma</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 5 -->
            <div class="row p-1">
              <div class="col-6">
                <h1 class="td_text">Supratherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
          </div>
        </div>

        <!-- tr btn -->
        <div class="row p-1">
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
        </div>
        <!--  -->
      </div>
      <!--  -->
    </div>
  </div>
</div>
<!------------------------------------------------------  -->
<!-- card 10 -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7 god_css">
      <!-- main card for logo -->
      <div class="Certifications_main_card_bg p-3">
        <div class="row Logo_card_padding">
          <div class="col-md-3">
            <img
              class="img-fluid Certifications_card_img d-block mx-auto"
              src="../../../../assets/certication_img/certiefication10.png"
              width="100px"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-md-9">
            <h1 class="Certifications_card_name mb-4">DET NORSKE VERITAS</h1>
            <!-- table -->
            <div class="row">
              <div class="col-6">
                <h1 class="Certi_card_table_heading">Our Brands Names</h1>
              </div>
              <div class="col-6">
                <h1 class="Certi_card_table_heading">AWS Codes</h1>
              </div>
            </div>
            <!-- tr 1 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Exobel</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 2 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Indotherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 3 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Medio</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 4 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Norma</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 5 -->
            <div class="row p-1">
              <div class="col-6">
                <h1 class="td_text">Supratherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
          </div>
        </div>

        <!-- tr btn -->
        <div class="row p-1">
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
        </div>
        <!--  -->
      </div>
      <!--  -->
    </div>

    <div class="col-lg-5"></div>
  </div>
</div>
<!-- ------------------------------------------------------ -->
<!-- card 11 -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-7 god_css">
      <!-- main card for logo -->
      <div class="Certifications_main_card_bg p-3">
        <div class="row Logo_card_padding">
          <div class="col-md-3">
            <img
              class="img-fluid Certifications_card_img d-block mx-auto"
              src="../../../../assets/certication_img/certiefication11.png"
              width="100px"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-md-9">
            <h1 class="Certifications_card_name mb-4">DET NORSKE VERITAS</h1>
            <!-- table -->
            <div class="row">
              <div class="col-6">
                <h1 class="Certi_card_table_heading">Our Brands Names</h1>
              </div>
              <div class="col-6">
                <h1 class="Certi_card_table_heading">AWS Codes</h1>
              </div>
            </div>
            <!-- tr 1 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Exobel</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 2 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Indotherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 3 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Medio</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 4 -->
            <div class="row p-1 row_border">
              <div class="col-6">
                <h1 class="td_text">Norma</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
            <!-- tr 5 -->
            <div class="row p-1">
              <div class="col-6">
                <h1 class="td_text">Supratherme</h1>
              </div>
              <div class="col-6">
                <h1 class="td_text">E6013</h1>
              </div>
            </div>
            <!--  -->
          </div>
        </div>

        <!-- tr btn -->
        <div class="row p-1">
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-sm btn-block mt-2 Certifications_btn"
            >
              DNV CERTIFICATION #1
            </button>
          </div>
        </div>
        <!--  -->
      </div>
      <!--  -->
    </div>
  </div>
</div>
<!------------------------------------------------------  -->

<!-- main Certifications  -->
<div class="container-fluid">
  <img
    src="../../../../assets/certication_img/Main_certication.png"
    class="img-fluid"
    alt=""
    srcset=""
  />
</div>
<!--  -->

<app-footer></app-footer>
