<div class="container-fluid CERTIFICATIONS_paragraph_bg animated fadeIn" onmouseover="navBarColorBefore()">
  <div style="height: 150px"></div>
  <h1 class="CERTIFICATIONS_path">
    HOME • ABOUT US •
    <span style="color: black"> CERTIFICATIONS </span>
  </h1>
  <!-- heading -->
  <h1 class="CERTIFICATIONS_heading mt-4">Certifications</h1>

  <!--  -->
  <h1 class="Certifications_paragraph_text mt-5">
    Our certifications are a true testimony of the belief entrusted by various
    Indian and International agencies in us.
  </h1>
  <h1 class="Certifications_paragraph_text">
    Inspection agencies like Lloyds Registrar of Shipping, American Bureau of
    Shipping, Det Norske Veritas etc. have
  </h1>
  <h1 class="Certifications_paragraph_text">
    approved our plants and products.
  </h1>

  <h1 class="Certifications_paragraph_text mt-4">
    Re-emphasizing our focus on Quality, we involve employees at all level and
    hold periodic reviews of our Quality
  </h1>
  <h1 class="Certifications_paragraph_text pb-5">
    Policies and Objectives for their suitability and effectiveness with one
    clear goal in mind –
    <span style="color: #e31e24; font-weight: 700">‘Client Satisfaction’</span>.
  </h1>
 
</div>
<app-main-cards [CardData]="card"></app-main-cards>


