<div class="container-fluid footer_bg" onmouseover="navBarColorBefore()">
    
    <div class="container-fluid table_padding">

        <!-- only load in moblile viewport -->
        <p class="social_media_icons_grid">
            <i class="fa fa-circle circleSize"></i>
            <i class="fa fa-circle circleSize"></i>
            <i class="fa fa-circle circleSize"></i>
            <i class="fa fa-circle circleSize"></i>
            <i class="fa fa-circle circleSize"></i>
       </p>
       <!-- /// -->

        <div class="row">
            <div class="col-md-6">
                <table class="table table-sm">
                    <thead>
                      <tr>
                        <th style="border:none;">PRODUCT</th>
                        <th style="border:none;">ABOUT US</th>
                        <th style="border:none;">TEST</th>
                      </tr>
                      <br>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Welding Consumable</td>
                        <td>Profile </td>
                        <td>
                            <a [routerLink]="['../aboutus/testimonial']">Testimonials
                            </a>
                        </td>
                      </tr>
                      <tr>
                        <td>Service Welding</td>
                        <td>
                            <a [routerLink]="['../overview']">Vision & Mission</a>
                       </td>
                       
                        <td>
                          <a [routerLink]="['../Casestudy']">Case Study</a>
                        </td>
                      </tr>
                      <tr>
                        <td>Welding Machines</td>
                        <td>
                            <a [routerLink]="['../overview']">Our Committment</a>
                       </td>
                       <td>
                        <a [routerLink]="['../Knowlagebase']">Knowledge Base</a>
                      </td>
                      </tr>
                      <tr>
                        <td>Industrial Application</td>
                        <td>
                            <a [routerLink]="['../overview']">Board Of Directors</a>
                       </td>
                        <td>
                            <a [routerLink]="['../Career']">
                            Careers</a>
                        </td>

                        </tr>
                      <tr>
                        <td></td>
                        <td>
                            <a [routerLink]="['../aboutus/certification']">Certification</a>
                        </td>
                        <td>
                            <a [routerLink]="['../blogs']">
                            Blogs</a>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>
                            <a [routerLink]="['../aboutus/RNDCenter']">R&d Center
                            </a>  
                        </td>
                        <td>Newsletter</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>
                            <a [routerLink]="['../aboutus/CSR']">CSR Policy</a>  
                        </td>
                        <td>
                            <a [routerLink]="['../contact']">
                            Contact Us</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-md-6">
                <table class="table table-sm">
                    <thead>
                      <tr>
                        <th style="border:none;">CONTACT</th>
                        <th class="sec_social_media_icons_grid">
                            <span>
                        <i class="fa fa-circle circleSize"></i>
                        <i class="fa fa-circle circleSize"></i>
                        <i class="fa fa-circle circleSize"></i>
                        <i class="fa fa-circle circleSize"></i>
                        <i class="fa fa-circle circleSize"></i>
                            </span>
                        </th>
                      </tr>
                      <br>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Call
                             <a target="_blank" href="https://wa.me/919833550505">
                                <span>+91 98335 50505</span>
                            </a> 
                         </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>E-mail
                            <a href="mailto: info@dnhsecheron.com">
                                <span>info@dnhsecheron.net</span>
                            </a>
                        </td>
                        
                        <td></td>
                      </tr>
                      <tr>
                          <td>Address <br>
                            5th Floor, Merchant<br>
                            S.V. Thackersy Marg<br>
                            41, New Marine Lines<br>
                            Mumbai - 400 020<br></td>
                            <td></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    
     

    <div class="container-fluid footer_copyright_bar">
     <div class="row">
         <div class="col-md-8  Rights_Reserved_section">
             <h6 class="copyright_text"> © 1966 - 2020 D&H Secheron. All Rights Reserved.</h6>     
         </div>
         <div class="col-md-4 TPC">
            <p>
                <span class="mr-3">Terms of Use</span>
                <span class="mr-3">Privacy</span>
                <span class="mr-3">Cookie Policy</span>
            </p>
            
         </div>
     </div>
    </div>
</div>
