<div class="container-fluid Case_Studies_BG p-0" onmouseover="navBarColorBefore()">
    <!-- top bar -->
    <div style="height: 160px;"></div>
    <!-- Case_Studies heading_bar -->
    <div class="container-fluid">
      <h1 class="Case_Studies_link mt-3">home. case studis</h1>

      <h1 class="Case_main_heading mb-5">Case Studies</h1>
    </div>
    <!--  -->
    <div class="container-fluid Case_Studies_first_grid">
      <!-- row 1 -->
      <div class="row">
        <div class="col-md-4 grid_first_box god_css">
          <h4 class="first_col_heading">CEMENT PLANTS</h4>
        </div>
        <div class="col-md-4 grid_first_box god_css">
          <h4 class="first_col_heading">MARINE SECTOR </h4>
        </div>
        <div class="col-md-4 grid_first_box god_css">
          <h4 class="first_col_heading">EARTH MOVING</h4>
        </div>
      </div>
      <!-- row 2 -->
      <div class="row">
        <div class="col-md-4 grid_first_box god_css">
          <h4 class="first_col_heading">POWER SECTOR</h4>
        </div>
        <div class="col-md-4 grid_first_box god_css">

          <img src="./../../assets/casestudy/grid_fist_img.png" height="100px" class="img-fluid" alt="" srcset="">

        </div>
        <div class="col-md-4 grid_first_box god_css">
          <h4 class="first_col_heading">RAILWAY SECTOR</h4>
        </div>
      </div>
      <!-- row 3 -->
      <div class="row">
        <div class="col-md-4 grid_first_box god_css">
          <h4 class="first_col_heading">STEEL INDUSTRY
          </h4>
        </div>
        <div class="col-md-4 grid_first_box god_css">
          <h4 class="first_col_heading">SUGAR PLANTS</h4>
        </div>
        <div class="col-md-4 grid_first_box god_css">
          <h4 class="first_col_heading">TRANSPORT SECTOR</h4>
        </div>
      </div>
      <!--  -->

      <!--  -->
    </div>

    <!-- ------------------------------------- -->
    <div class="container-fluid">
      <div class="row mt-5 mb-5">
        <div class="col-md-4 sec_case_img_col">
          <img src="./../../assets/casestudy/sec_case_img.png" class="img-fluid sec_case_img" alt="" srcset="">
        </div>
        <div class="col-md-8">
          <!-- row 1 -->
          <div class="row">
            <div class="col-md-6">

              <!-- card 1 -->
              <div class="p-1">
                <div class="btn-group" role="group" aria-label="Basic example">

                  <button type="button" class="btn btn-sm Case_btn">Industry</button>

                  <button type="button" class="btn btn-sm Case_btn ml-3">Category</button>
                </div>
                <!-- text aria -->
                <!-- scroll bar -->
                <div class="scrollbar" id="style-3">
                  <!-- blog description here  -->
                  <h6 class="card_description mt-2">The Morgan Stanley Global Consumer &
                    Retail Investor Conference
                  </h6>
                  <!--  -->
                  <div class="force-overflow"></div>
                </div>
                <!-- scroll bar// -->
                <a href="" style="text-decoration: none;">
                  <h6 class="Read_Case_Study mb-4">Read Case Study</h6>
                </a>
                <hr>
              </div>
              <!--  -->

            </div>
            <div class="col-md-6">
              <!-- card 1 -->
              <div class="p-1">
                <div class="btn-group" role="group" aria-label="Basic example">

                  <button type="button" class="btn btn-sm Case_btn">Industry</button>

                  <button type="button" class="btn btn-sm Case_btn ml-3">Category</button>
                </div>
                <!-- text aria -->
                <!-- scroll bar -->
                <div class="scrollbar" id="style-3">
                  <!-- blog description here  -->
                  <h6 class="card_description mt-2">The Morgan Stanley Global Consumer &
                    Retail Investor Conference
                  </h6>
                  <!--  -->
                  <div class="force-overflow"></div>
                </div>
                <!-- scroll bar// -->
                <a href="" style="text-decoration: none;">
                  <h6 class="Read_Case_Study mb-4">Read Case Study</h6>
                </a>
                <hr>
              </div>
              <!--  -->
            </div>
          </div>
          <!-- row 1 -->
          <div class="row">
            <div class="col-md-6">
              <!-- card 1 -->
              <div class="p-1">
                <div class="btn-group" role="group" aria-label="Basic example">

                  <button type="button" class="btn btn-sm Case_btn">Industry</button>

                  <button type="button" class="btn btn-sm Case_btn ml-3">Category</button>
                </div>
                <!-- text aria -->
                <!-- scroll bar -->
                <div class="scrollbar" id="style-3">
                  <!-- blog description here  -->
                  <h6 class="card_description mt-2">The Morgan Stanley Global Consumer &
                    Retail Investor Conference
                  </h6>
                  <!--  -->
                  <div class="force-overflow"></div>
                </div>
                <!-- scroll bar// -->
                <a href="" style="text-decoration: none;">
                  <h6 class="Read_Case_Study mb-4">Read Case Study</h6>
                </a>
                <hr>
              </div>
              <!--  -->
            </div>
            <div class="col-md-6">
              <!-- card 1 -->
              <div class="p-1">
                <div class="btn-group" role="group" aria-label="Basic example">

                  <button type="button" class="btn btn-sm Case_btn">Industry</button>

                  <button type="button" class="btn btn-sm Case_btn ml-3">Category</button>
                </div>
                <!-- text aria -->
                <!-- scroll bar -->
                <div class="scrollbar" id="style-3">
                  <!-- blog description here  -->
                  <h6 class="card_description mt-2">The Morgan Stanley Global Consumer &
                    Retail Investor Conference
                  </h6>
                  <!--  -->
                  <div class="force-overflow"></div>
                </div>
                <!-- scroll bar// -->
                <a href="" style="text-decoration: none;">
                  <h6 class="Read_Case_Study mb-4">Read Case Study</h6>
                </a>
                <hr>
              </div>
              <!--  -->
            </div>
          </div>
          <!-- row 1 -->
          <div class="row">
            <div class="col-md-6">
              <!-- card 1 -->
              <div class="p-1">
                <div class="btn-group" role="group" aria-label="Basic example">

                  <button type="button" class="btn btn-sm Case_btn">Industry</button>

                  <button type="button" class="btn btn-sm Case_btn ml-3">Category</button>
                </div>
                <!-- text aria -->
                <!-- scroll bar -->
                <div class="scrollbar" id="style-3">
                  <!-- blog description here  -->
                  <h6 class="card_description mt-2">The Morgan Stanley Global Consumer &
                    Retail Investor Conference
                  </h6>
                  <!--  -->
                  <div class="force-overflow"></div>
                </div>
                <!-- scroll bar// -->
                <a href="" style="text-decoration: none;">
                  <h6 class="Read_Case_Study mb-4">Read Case Study</h6>
                </a>

              </div>
              <!--  -->
              <a href="" class="btn btn-sm btnForCase pl-4 pr-4">View All Resources</a>
            </div>
            <div class="col-md-6">
              <!-- card 1 -->
              <div class="p-1">
                <div class="btn-group" role="group" aria-label="Basic example">

                  <button type="button" class="btn btn-sm Case_btn">Industry</button>

                  <button type="button" class="btn btn-sm Case_btn ml-3">Category</button>
                </div>
                <!-- text aria -->
                <!-- scroll bar -->
                <div class="scrollbar" id="style-3">
                  <!-- blog description here  -->
                  <h6 class="card_description mt-2">The Morgan Stanley Global Consumer &
                    Retail Investor Conference
                  </h6>
                  <!--  -->
                  <div class="force-overflow"></div>
                </div>
                <!-- scroll bar// -->

                <a href="" style="text-decoration: none;">
                  <h6 class="Read_Case_Study mb-4 ">Read Case Study</h6>
                </a>

              </div>
              <!--  -->
            </div>
          </div>
          <!--  -->

        </div>
      </div>
      <!-- top margin -->
      <div style="height: 40px;"></div>
      <!--  -->
    </div>
    <!--  -->

    <!-- --------Case Studies search--------------------->
    <div class="container-fluid" style="background-color: #E73A3F;">
       <br><br>
      <!-- nav bar -->
      <div class="container pl-4 pr-4 nav_bar_case">
        <div class="row">
          <div class="col-md-2 p-2 Industry_case_container">

            <!-- dropdown -->
            <div class="dropdown-item-text">

              <div class="container-fluid bg-light" data-toggle="dropdown">
                <div class="row mt-2">
                  <div class="col-6">
                    <h6>Industry</h6>
                  </div>
                  <div class="col-6">

                    <h6 style="color: black; text-align: end;"><i class="fa fa-sort-desc"></i></h6>

                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Link 1</a>
                      <a class="dropdown-item" href="#">Link 2</a>
                      <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                  </div>
                  <!-- dropdown -->

                  <!--  -->
                </div>


              </div>


            </div>
            <!-- dropdown//// -->

          </div>
          <div class="col-md-2 p-2 Industry_case_container">
            <!-- dropdown -->
            <div class="dropdown">

              <div class="container-fluid bg-light" data-toggle="dropdown">
                <div class="row  mt-2">
                  <div class="col-6">
                    <h6>Category </h6>
                  </div>
                  <div class="col-6">

                    <h6 style="color: black; text-align: end;"><i class="fa fa-sort-desc"></i></h6>

                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Link 1</a>
                      <a class="dropdown-item" href="#">Link 2</a>
                      <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                  </div>
                  <!-- dropdown -->

                  <!--  -->
                </div>


              </div>


            </div>
            <!-- dropdown//// -->
          </div>
          <div class="col-md-8 p-2">

            <div class="input-group">
              <input type="text" class="form-control custom_case_searchBar" placeholder="Search D&H Secheron Case Studies">
              <div class="input-group-append">
                <button class="btn" style="background:transparent; box-shadow: none;" type="submit">
                  <i class="fa fa-search search_ico_case"></i>
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--  -->
      <br><br>
    </div>
    <!-- Case Studies search/////////////////////////// -->

    <!-- Search D&H Secheron Case Studies result -->
     <div class="container-fluid p-5">

       <!-- first row -->
       <div class="row">
         <div class="col-md-4">
             <!-- card 1 -->
             <div class="p-1">
              <div class="btn-group" role="group" aria-label="Basic example">

                <button type="button" class="btn btn-sm Case_btn">Industry</button>

                <button type="button" class="btn btn-sm Case_btn ml-3">Category</button>
              </div>
              <!-- text aria -->
              <!-- scroll bar -->
              <div class="scrollbar" id="style-3">
                <!-- blog description here  -->
                <h6 class="card_description mt-2">The Morgan Stanley Global Consumer &
                  Retail Investor Conference
                </h6>
                <!--  -->
                <div class="force-overflow"></div>
              </div>
              <!-- scroll bar// -->
              <a href="" style="text-decoration: none;">
                <h6 class="Read_Case_Study mb-4">Read Case Study</h6>
              </a>
              <hr>
            </div>
            <!--  -->
         </div>
         <div class="col-md-4">
            <!-- card 1 -->
            <div class="p-1">
              <div class="btn-group" role="group" aria-label="Basic example">

                <button type="button" class="btn btn-sm Case_btn">Industry</button>

                <button type="button" class="btn btn-sm Case_btn ml-3">Category</button>
              </div>
              <!-- text aria -->
              <!-- scroll bar -->
              <div class="scrollbar" id="style-3">
                <!-- blog description here  -->
                <h6 class="card_description mt-2">The Morgan Stanley Global Consumer &
                  Retail Investor Conference
                </h6>
                <!--  -->
                <div class="force-overflow"></div>
              </div>
              <!-- scroll bar// -->
              <a href="" style="text-decoration: none;">
                <h6 class="Read_Case_Study mb-4">Read Case Study</h6>
              </a>
              <hr>
            </div>
            <!--  -->
         </div>
         <div class="col-md-4">
             <!-- card 1 -->
             <div class="p-1">
              <div class="btn-group" role="group" aria-label="Basic example">

                <button type="button" class="btn btn-sm Case_btn">Industry</button>

                <button type="button" class="btn btn-sm Case_btn ml-3">Category</button>
              </div>
              <!-- text aria -->
              <!-- scroll bar -->
              <div class="scrollbar" id="style-3">
                <!-- blog description here  -->
                <h6 class="card_description mt-2">The Morgan Stanley Global Consumer &
                  Retail Investor Conference
                </h6>
                <!--  -->
                <div class="force-overflow"></div>
              </div>
              <!-- scroll bar// -->
              <a href="" style="text-decoration: none;">
                <h6 class="Read_Case_Study mb-4">Read Case Study</h6>
              </a>
              <hr>
            </div>
            <!--  -->
         </div>
       </div>
        <!-- sec row -->
        <div class="row">
          <div class="col-md-4">
              <!-- card 1 -->
              <div class="p-1">
               <div class="btn-group" role="group" aria-label="Basic example">
 
                 <button type="button" class="btn btn-sm Case_btn">Industry</button>
 
                 <button type="button" class="btn btn-sm Case_btn ml-3">Category</button>
               </div>
               <!-- text aria -->
               <!-- scroll bar -->
               <div class="scrollbar" id="style-3">
                 <!-- blog description here  -->
                 <h6 class="card_description mt-2">The Morgan Stanley Global Consumer &
                   Retail Investor Conference
                 </h6>
                 <!--  -->
                 <div class="force-overflow"></div>
               </div>
               <!-- scroll bar// -->
               <a href="" style="text-decoration: none;">
                 <h6 class="Read_Case_Study mb-4">Read Case Study</h6>
               </a>
               <hr>
             </div>
             <!--  -->
          </div>
          <div class="col-md-4">
             <!-- card 1 -->
             <div class="p-1">
               <div class="btn-group" role="group" aria-label="Basic example">
 
                 <button type="button" class="btn btn-sm Case_btn">Industry</button>
 
                 <button type="button" class="btn btn-sm Case_btn ml-3">Category</button>
               </div>
               <!-- text aria -->
               <!-- scroll bar -->
               <div class="scrollbar" id="style-3">
                 <!-- blog description here  -->
                 <h6 class="card_description mt-2">The Morgan Stanley Global Consumer &
                   Retail Investor Conference
                 </h6>
                 <!--  -->
                 <div class="force-overflow"></div>
               </div>
               <!-- scroll bar// -->
               <a href="" style="text-decoration: none;">
                 <h6 class="Read_Case_Study mb-4">Read Case Study</h6>
               </a>
               <hr>
             </div>
             <!--  -->
          </div>
          <div class="col-md-4">
              <!-- card 1 -->
              <div class="p-1">
               <div class="btn-group" role="group" aria-label="Basic example">
 
                 <button type="button" class="btn btn-sm Case_btn">Industry</button>
 
                 <button type="button" class="btn btn-sm Case_btn ml-3">Category</button>
               </div>
               <!-- text aria -->
               <!-- scroll bar -->
               <div class="scrollbar" id="style-3">
                 <!-- blog description here  -->
                 <h6 class="card_description mt-2">The Morgan Stanley Global Consumer &
                   Retail Investor Conference
                 </h6>
                 <!--  -->
                 <div class="force-overflow"></div>
               </div>
               <!-- scroll bar// -->
               <a href="" style="text-decoration: none;">
                 <h6 class="Read_Case_Study mb-4">Read Case Study</h6>
               </a>
               <hr>
             </div>
             <!--  -->
          </div>
        </div>
        <!-- three row -->
        <div class="row">
          <div class="col-md-4">
              <!-- card 1 -->
              <div class="p-1">
               <div class="btn-group" role="group" aria-label="Basic example">
 
                 <button type="button" class="btn btn-sm Case_btn">Industry</button>
 
                 <button type="button" class="btn btn-sm Case_btn ml-3">Category</button>
               </div>
               <!-- text aria -->
               <!-- scroll bar -->
               <div class="scrollbar" id="style-3">
                 <!-- blog description here  -->
                 <h6 class="card_description mt-2">The Morgan Stanley Global Consumer &
                   Retail Investor Conference
                 </h6>
                 <!--  -->
                 <div class="force-overflow"></div>
               </div>
               <!-- scroll bar// -->
               <a href="" style="text-decoration: none;">
                 <h6 class="Read_Case_Study mb-4">Read Case Study</h6>
               </a>
               <hr>
             </div>
             <!--  -->
          </div>
          <div class="col-md-4">
             <!-- card 1 -->
             <div class="p-1">
               <div class="btn-group" role="group" aria-label="Basic example">
 
                 <button type="button" class="btn btn-sm Case_btn">Industry</button>
 
                 <button type="button" class="btn btn-sm Case_btn ml-3">Category</button>
               </div>
               <!-- text aria -->
               <!-- scroll bar -->
               <div class="scrollbar" id="style-3">
                 <!-- blog description here  -->
                 <h6 class="card_description mt-2">The Morgan Stanley Global Consumer &
                   Retail Investor Conference
                 </h6>
                 <!--  -->
                 <div class="force-overflow"></div>
               </div>
               <!-- scroll bar// -->
               <a href="" style="text-decoration: none;">
                 <h6 class="Read_Case_Study mb-4">Read Case Study</h6>
               </a>
               <hr>
             </div>
             <!--  -->
          </div>
          <div class="col-md-4">
              <!-- card 1 -->
              <div class="p-1">
               <div class="btn-group" role="group" aria-label="Basic example">
 
                 <button type="button" class="btn btn-sm Case_btn">Industry</button>
 
                 <button type="button" class="btn btn-sm Case_btn ml-3">Category</button>
               </div>
               <!-- text aria -->
               <!-- scroll bar -->
               <div class="scrollbar" id="style-3">
                 <!-- blog description here  -->
                 <h6 class="card_description mt-2">The Morgan Stanley Global Consumer &
                   Retail Investor Conference
                 </h6>
                 <!--  -->
                 <div class="force-overflow"></div>
               </div>
               <!-- scroll bar// -->
               <a href="" style="text-decoration: none;">
                 <h6 class="Read_Case_Study mb-4">Read Case Study</h6>
               </a>
               <hr>
             </div>
             <!--  -->
          </div>
        </div>
       
     </div>
    <!--  -->

<!-------------- View All Resources --------------------->
 <div class="container-fluid god_css p-2">
  <a href="" class="btn btn-sm btnForCase mb-3 pl-4 pr-4">View All Resources</a>
 </div>
<!--  -->
  </div>
  
  <app-footer></app-footer>