
<div class="container-fluid Testimonial_bg"  onmouseover="navBarColorBefore()">
    <div class="container-fluid">
      <!--  -->
    <div style="height: 150px;"></div>
    <!--  -->
    <h1 class="page_testimonal_path">HOME &nbsp;
      &nbsp;<i class="fa fa-circle" style="font-size: 8px;"></i>&nbsp;
      &nbsp;ABOUT US&nbsp;
      &nbsp;<i class="fa fa-circle" style="font-size: 8px;"></i>
      &nbsp;<span style="color: black;">TESTIMONIALS</span>
    </h1>

    <!-- Product heading -->
    <h1 class="testimonal_heading mt-4 mb-4">Testimonials</h1>
    <!--  -->

    <!--  companies logo grid 1-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-6">

              <a data-toggle="modal" data-target="#myModal">

             <img src="../../../../assets/Testimonials/testimoImg1.png" class="img-fluid testimonal_logo" alt="" srcset="">

             </a>

            </div>
            <div class="col-6">

              <a data-toggle="modal" data-target="#myModal" >

              <img src="../../../../assets/Testimonials/testimoImg2.png" class="img-fluid testimonal_logo" alt="" srcset="">

              </a>

            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-6">

              <a data-toggle="modal" data-target="#myModal">

              <img src="../../../../assets/Testimonials/testimoImg3.png" class="img-fluid testimonal_logo" alt="" srcset="">

              </a>

            </div>
            <div class="col-6">

              <a data-toggle="modal" data-target="#myModal">

              <img src="../../../../assets/Testimonials/testimoImg4.png" class="img-fluid testimonal_logo" alt="" srcset="">

              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->

      <!--  companies logo grid 2-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-6">

                <a data-toggle="modal" data-target="#myModal">

               <img src="../../../../assets/Testimonials/testimoImg5.png" class="img-fluid testimonal_logo" alt="" srcset="">

               </a>

              </div>
              <div class="col-6">

                <a data-toggle="modal" data-target="#myModal">

                <img src="../../../../assets/Testimonials/testimoImg6.png" class="img-fluid testimonal_logo" alt="" srcset="">

               </a>

              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-6">
                
                <a data-toggle="modal" data-target="#myModal">

                <img src="../../../../assets/Testimonials/testimoImg7.png" class="img-fluid testimonal_logo" alt="" srcset="">

                </a>

              </div>
              <div class="col-6">

                <a data-toggle="modal" data-target="#myModal">

                <img src="../../../../assets/Testimonials/testimoImg8.png" class="img-fluid testimonal_logo" alt="" srcset="">

                </a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
            <br><br>
    </div>
 </div>


 <!-- The Modal -->
 <div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content" style="background: transparent;">
    
      <!-- Modal Header -->
      <!-- <div class="modal-header">
        <h4 class="" style="text-align: center;">TATA</h4>

        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div> -->
      
      <!-- Modal body -->
      <div class="modal-body p-4">
       
        <!-- logo doc -->
 <img src="../../../../assets/Testimonials/Logo_doc.png" class="img-fluid d-block mx-auto" style="width: 100%;" alt="" srcset="">
 <!--  -->
 <div class="god_css">
  <button type="button" class="btn btn-danger btn-lg btn-block mt-2" data-dismiss="modal">Close</button>
</div>
      </div>
      
      
    </div>
  </div>
</div>
<app-footer></app-footer>
 