.god_css {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Testimonial_bg {
  background: rgba(255, 255, 255, 1);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(237, 237, 237, 1) 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(47%, rgba(246, 246, 246, 1)),
    color-stop(100%, rgba(237, 237, 237, 1))
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(237, 237, 237, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(237, 237, 237, 1) 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(237, 237, 237, 1) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(237, 237, 237, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

.page_testimonal_path {
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  color: gray;
}
.testimonal_heading {
  text-align: center;
  font-weight: bold;
  color: black;
  padding: 8px;
  font-size: 55px;
}
.testimonal_logo {
  padding: 45px;
  cursor: pointer;
}
/* .testimonal_logo:hover{
    position: relative;
    padding: 35px;
    transition-property: padding;
    transition-duration: 0.1s;
    transition-timing-function: linear;
 } */
/* MQ */
@media screen and (max-width: 767px) {
  .testimonal_heading {
    padding: 8px;
    font-size: 48px;
  }
}
@media screen and (max-width: 600px) {
  .testimonal_logo {
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    background: #f8f8f8;
    -webkit-box-shadow: 0px 0px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 26px -8px rgba(0, 0, 0, 0.75);
  }
}
