<div
  class="container-fluid Power_Sector_bg p-0 animated fadeIn"
  onmouseover="navBarColorBefore()"
>
  <!--  -->
  <div style="height: 150px"></div>
  <!--  -->
  <div
    class="Power_Sector_img_bg god_css"
    style="background-image: url(../../../../assets/INDUSTRIES/{{Industry.image}});">
    <div>
      <h1 class="POWER_SECTOR_link">
        HOME • INDUSTRIES •
        <span style="color: white">{{ Industry.heading }}</span>
      </h1>
      <h1 class="Power_Sector_heading">{{ Industry.heading }}</h1>
    </div>
  </div>
  <!-- {{Industry.description}} -->
  <div class="container-fluid my-4">
    <div class="row">
      <div class="col-md-2 col-12"></div>
      <div class="col-md-8 col-12">
        <p style="text-align: justify">{{ Industry.description }}</p>
      </div>
      <div class="col-md-2 col-12"></div>
    </div>
  </div>
  <br />
  <!--  Coal Handling Plant table-->
  <div class="container-fluid">
    <h1 class="Coal_Handling_Plant_heading pb-4">Coal Handling Plant</h1>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 table-responsive-sm">
        <table class="table table-sm">
          <thead>
            <tr>
              <th style="border-bottom: 2px solid #b2776e">S.No.</th>
              <th style="border-bottom: 2px solid #b2776e">Components</th>
              <th style="border-bottom: 2px solid #b2776e">Base metals</th>
              <th style="border-bottom: 2px solid #b2776e">Wear factor</th>
              <th style="border-bottom: 2px solid #b2776e">
                Recommended Electrodes
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="top_bar table_num">1</td>
              <td class="top_bar">Coal Mill Vertical Shaft</td>
              <td class="top_bar">A. Steel</td>
              <td class="top_bar">Wear</td>
              <td class="top_bar Recommended_num">468</td>
            </tr>
            <tr>
              <td class="table_num">2</td>
              <td>Roller Yoke</td>
              <td>C. Steel</td>
              <td>Wear</td>
              <td class="Recommended_num">603</td>
            </tr>
            <tr>
              <td class="table_num">3</td>
              <td>Coal Bend</td>
              <td>CI</td>
              <td>Wear</td>
              <td class="Recommended_num">701</td>
            </tr>
            <tr>
              <td class="table_num">4</td>
              <td>Coal Office</td>
              <td>CI</td>
              <td>Wear</td>
              <td class="Recommended_num">701</td>
            </tr>
            <tr>
              <td class="table_num">5</td>
              <td>Boiler Feed Pump</td>
              <td>A. Steel</td>
              <td>Wear</td>
              <td class="Recommended_num">468</td>
            </tr>
            <tr>
              <td class="table_num">6</td>
              <td>Coal Burner Nozzle</td>
              <td>S.G. Iron</td>
              <td>Wear</td>
              <td class="Recommended_num">603</td>
            </tr>
            <tr>
              <td class="table_num">7</td>
              <td>Nozzle Tip</td>
              <td>SS 310</td>
              <td>Wear</td>
              <td class="Recommended_num">464 + T904</td>
            </tr>
            <tr>
              <td class="table_num">8</td>
              <td>I D Fan Shaft</td>
              <td>A. Steel</td>
              <td>Wear</td>
              <td class="Recommended_num">468</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>

  <!--  ASH Handling Plant table-->
  <div class="container-fluid">
    <h1 class="Coal_Handling_Plant_heading pb-4 pt-4">ASH Handling Plant</h1>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 table-responsive-sm">
        <table class="table table-sm">
          <thead>
            <tr>
              <th style="border-bottom: 2px solid #b2776e">S.No.</th>
              <th style="border-bottom: 2px solid #b2776e">Components</th>
              <th style="border-bottom: 2px solid #b2776e">Base metals</th>
              <th style="border-bottom: 2px solid #b2776e">Wear factor</th>
              <th style="border-bottom: 2px solid #b2776e">
                Recommended Electrodes
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="top_bar table_num">1</td>
              <td class="top_bar">Coal Mill Vertical Shaft</td>
              <td class="top_bar">A. Steel</td>
              <td class="top_bar">Wear</td>
              <td class="top_bar Recommended_num">468</td>
            </tr>
            <tr>
              <td class="table_num">2</td>
              <td>Roller Yoke</td>
              <td>C. Steel</td>
              <td>Wear</td>
              <td class="Recommended_num">603</td>
            </tr>
            <tr>
              <td class="table_num">3</td>
              <td>Coal Bend</td>
              <td>CI</td>
              <td>Wear</td>
              <td class="Recommended_num">701</td>
            </tr>
            <tr>
              <td class="table_num">4</td>
              <td>Coal Bend</td>
              <td>CI</td>
              <td>Wear</td>
              <td class="Recommended_num">701</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>

  <!--  Applications in Power Industry
   table-->
  <div class="container-fluid">
    <h1 class="Coal_Handling_Plant_heading pb-4 pt-4">
      Applications in Power Industry
    </h1>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 table-responsive-sm">
        <table class="table table-sm">
          <thead>
            <tr>
              <th style="border-bottom: 2px solid #b2776e">S.No.</th>
              <th style="border-bottom: 2px solid #b2776e">Components</th>
              <th style="border-bottom: 2px solid #b2776e">Base metals</th>
              <th style="border-bottom: 2px solid #b2776e">Wear factor</th>
              <th style="border-bottom: 2px solid #b2776e">
                Recommended Electrodes
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="top_bar table_num">1</td>
              <td class="top_bar">Coal Mill Vertical Shaft</td>
              <td class="top_bar">A. Steel</td>
              <td class="top_bar">Wear</td>
              <td class="top_bar Recommended_num">468</td>
            </tr>
            <tr>
              <td class="table_num">2</td>
              <td>Roller Yoke</td>
              <td>C. Steel</td>
              <td>Wear</td>
              <td class="Recommended_num">603</td>
            </tr>
            <tr>
              <td class="table_num">3</td>
              <td>Coal Bend</td>
              <td>CI</td>
              <td>Wear</td>
              <td class="Recommended_num">701</td>
            </tr>
            <tr>
              <td class="table_num">4</td>
              <td>Coal Office</td>
              <td>CI</td>
              <td>Wear</td>
              <td class="Recommended_num">701</td>
            </tr>
            <tr>
              <td class="table_num">5</td>
              <td>Boiler Feed Pump</td>
              <td>A. Steel</td>
              <td>Wear</td>
              <td class="Recommended_num">468</td>
            </tr>
            <tr>
              <td class="table_num">6</td>
              <td>Coal Burner Nozzle</td>
              <td>S.G. Iron</td>
              <td>Wear</td>
              <td class="Recommended_num">603</td>
            </tr>
            <tr>
              <td class="table_num">7</td>
              <td>Nozzle Tip</td>
              <td>SS 310</td>
              <td>Wear</td>
              <td class="Recommended_num">464 + T904</td>
            </tr>
            <tr>
              <td class="table_num">8</td>
              <td>I D Fan Shaft</td>
              <td>A. Steel</td>
              <td>Wear</td>
              <td class="Recommended_num">468</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
  <br /><br />
</div>
<!-- child navbar -->
<div class="child_navbar">
  <span [routerLink]="['./CaseStudies']" class="links"
    >&nbsp;&nbsp; Case Studies</span
  >
</div>
<!-- popup -->

<!-- Modal -->
<div *ngIf="popop" class="popup_alert show god_css">
  <div class="modal-content bounceIn case_studies_popup">
    <img
      src="../../../../assets/INDUSTRIES/{{ Industry.image }}"
      class="img-fluid case_studies_img"
      alt=""
    />
    <a routerLink="./CaseStudies">
      <img
        src="../../../../assets/casestudy/case_pop.png"
        class="img-fluid case_icon"
        width="160px"
        alt=""
      />
    </a>
    <a class="popup_close" (click)="noThanks(false)">
      <span class="material-icons"> cancel </span>
    </a>
    <h5 class="case_popup_name">{{ Industry.heading }}</h5>
  </div>
</div>
<router-outlet></router-outlet>
