<div class="horizontals">
    <div class="section" onmouseover="navBarColor()">
        <app-slidehome1></app-slidehome1>
    </div>
    
    <div class="section" onmouseover="navBarColorBefore()">
        <app-slidehome2></app-slidehome2>
    </div>
    
    <div class="section" onmouseover="navBarColorBefore()">
        <app-slidehome3></app-slidehome3>
    </div>

    <div class="section" onmouseover="navBarColorBefore()">
        <app-slidehome4></app-slidehome4>
    </div>

    <div class="section" onmouseover="navBarColorBefore()">
        <app-slidehome5></app-slidehome5>
    </div>
</div>
    
    


<router-outlet></router-outlet>