<div class="container-fluid Case_Studies_BG p-0" onmouseover="navBarColorBefore()">
  
    <div class="container-fluid">
      <!--  -->
      <div style="height: 150px;"></div>
      <!--  -->
    <h1 class="FAQs_path">
      HOME
      &nbsp;
      &nbsp;
      <i class="fa fa-circle" style="font-size: 8px;"></i>
      &nbsp;<span style="color: black;">
      CERTIFICATIONS
    </span> 
    </h1>
    <!--  -->
    <h1 class="Knowledge_heading mt-4">Knowledge Base</h1>

    <!-- row -->
    <div class="container-fluid Knowledge_row mt-5">
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/Knowledg_Base/KnowledgeBase_grid_img.png" class="img-fluid KnowledgeBase_grid_img" alt=""  srcset="">
      </div>
      <div class="col-md-6 god_css">
          <div class="p-3" style="background: rgb(24, 23, 23);">
            <h1 class="Knowledge_row_paragraph mt-4">As the welding profession continues to mature and evolve, so does the
            </h1>
            <h1 class="Knowledge_row_paragraph">definition of knowing how to weld. These days, employers require</h1>
            <h1 class="Knowledge_row_paragraph">experience with more types of welds than ever before as well as</h1>
            <h1 class="Knowledge_row_paragraph">exposure to robotic automation, advanced welding equipment, exotic</h1>
            <!-- btn -->

            <a [routerLink]="['../Knowlagebase/studentCenter']">
            <button class="btn btn-sm Access_Student_btn mt-4 mb-4">Access Student Center <span><img src="../../../assets/Knowledg_Base/arrow.svg" class="Access_Student_ico ml-3" alt="" srcset=""></span></button>
          </a>
            <!-- btn -->
          </div>
      </div>
    </div>
   </div>
    <!-- /// -->
  </div>
  <!--  -->
  <div class="container-fluid Asked_Questions_container mb-5 mt-5 p-3">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">

        <div class="row">
          <div class="col-lg-2 god_css">
            <img class="Information_ico mt-3" src="../../../assets/Knowledg_Base/information.svg" alt="" srcset="">
          </div>
          <div class="col-lg-10 god_css">
         <span>
        <h1 class="Asked_Questions_text mt-3">Looking for Frequently Asked Questions</h1>

        <a [routerLink]="['../Knowlagebase/FAQ']" style="text-decoration: none;">
        <h1 class="Go_to_Area">Go to Area <i class="fa fa-chevron-right"></i> </h1>
        </a>

        </span>
          </div>
        </div>

      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
  <!--  -->
  </div>
  <app-footer></app-footer>