<div
  class="container-fluid Knowledge_header p-0"
  onmouseover="navBarColorBefore()"
>
  <div class="container-fluid">
    <!--  -->
    <div style="height: 170px;"></div>
    <!--  -->
    <h1 class="FAQs_path">
      HOME •
      <span style="color: black;">
        KNOWLEDGE BASE
      </span>
    </h1>
    <!--  -->
    <h1 class="Knowledge_heading mt-4">Knowledge Base</h1>

    <h1 class="Knowledge_tagline">
      <span style="font-weight: 600;">D&H Sécheron Electrodes Pvt. Ltd. </span
      >has been amongst the <br />
      pioneers in setting up an independent R&D Centre.
    </h1>
  </div>

  <!-- Knowledge navigation section -->
  <div class="container-fluid k_padding_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="container-fluid Know_navigationCard">
            <div class="row">
              <div class="col-sm-5">
                <!-- img -->
                <img
                  src="../../../assets/Knowledg_Base/FAQimg.png"
                  alt=""
                  class="FAQs_img img-fluid mx-auto d-block"
                  srcset=""
                />
              </div>
              <div class="col-sm-7 center_v">
                <div>
                  <h1 class="k_navigation_heading">FAQs</h1>
                  <h1 class="k_navigation_text">
                    D&H Sécheron Electrodes Pvt. Ltd. has <br />
                    been amongst the pioneers in setting <br />
                    up an independent R&D Centre.
                  </h1>

                  <a
                    [routerLink]="['../Knowlagebase/FAQ']"
                    style="text-decoration: none;"
                  >
                    <h1 class="k_navigation_link">Go to Area ></h1>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="container-fluid Know_navigationCard">
            <div class="row">
              <div class="col-sm-5">
                <!-- img -->
                <img
                  src="../../../assets/Knowledg_Base/student_card.png"
                  alt=""
                  class="FAQs_img img-fluid mx-auto d-block"
                  srcset=""
                />
              </div>
              <div class="col-sm-7 center_v">
                <div>
                  <h1 class="k_navigation_heading">Student Center</h1>
                  <h1 class="k_navigation_text">
                    D&H Sécheron Electrodes Pvt. Ltd. has <br />
                    been amongst the pioneers in setting <br />
                    up an independent R&D Centre.
                  </h1>

                  <a [routerLink]="['../Knowlagebase/studentCenter']">
                    <h1 class="k_navigation_link">Go to Area ˃</h1>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <a [routerLink]="['../Knowlagebase/studentCenter']">
            <button class="btn btn-sm Access_Student_btn mt-4 mb-4">Access Student Center <span><img src="../../../assets/Knowledg_Base/arrow.svg" class="Access_Student_ico ml-3" alt="" srcset=""></span></button>
          </a> -->

<!-- <a [routerLink]="['../Knowlagebase/FAQ']" style="text-decoration: none;">
        <h1 class="Go_to_Area">Go to Area <i class="fa fa-chevron-right"></i> </h1>
        </a> -->


