<div class="container-fluid FAQs_bg p-0" onmouseover="navBarColorBefore()">
  
    <div class="container-fluid">
      <!--  -->
      <div style="height: 170px;"></div>
      <!--  -->
    <h1 class="Knowledge_path">
      HOME
      &nbsp;
      &nbsp;
      <i class="fa fa-circle" style="font-size: 8px;"></i>
      &nbsp;<span style="color: grey;">
        KNOWLEDGE BASE&nbsp;&nbsp;</span>
      <i class="fa fa-circle" style="font-size: 8px;"></i>
      &nbsp;<span style="color: black;">
        FREQUENTLY ASKED QUESTIONS
    </span> 
    </h1>
    <!--  -->
    <h1 class="Knowledge_heading mt-4">FAQs</h1>

   
  </div>
  <!--  -->
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10 god_css p-3">

            <div class="mt-5">
            <h1 

            data-toggle="collapse" data-target="#answer1"

            class="FAQs_Q pb-4"><i class="fa fa-plus mr-3" style="color: rgb(156, 151, 151);"></i>D&H Sécheron Electrodes Pvt. Ltd. has been amongst the pioneers in setting up an independent R&D Centre?</h1>

            <div id="answer1" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Answer here.............
                </div>
              </div>

            
            <div style="border-bottom: 1px dashed rgb(226, 225, 225);"></div>

            <h1 class="FAQs_Q pb-4 pt-4"><i class="fa fa-plus mr-3" style="color: rgb(156, 151, 151);"></i>We have been constantly challenging the status quo in the welding space with their state-of-the-art production facilities?
            </h1>

            <div style="border-bottom: 1px dashed rgb(226, 225, 225);"></div>

            <h1 class="FAQs_Q pb-4 pt-4"><i class="fa fa-plus mr-3" style="color: rgb(156, 151, 151);"></i>D&H Sécheron has been constantly challenging the status quo in the welding space with their state-of-the-art?
            </h1>
            
            <div style="border-bottom: 1px dashed rgb(226, 225, 225);"></div>
             
            <h1 class="FAQs_Q pb-4 pt-4"><i class="fa fa-plus mr-3" style="color: rgb(156, 151, 151);"></i>To be an undisputed ‘Global Leader’ and a ‘Trendsetter’ offering holistic welding solutions?</h1>

            <div style="border-bottom: 1px dashed rgb(226, 225, 225);"></div>
            <div style="border-bottom: 1px dashed rgb(226, 225, 225);"></div>

           
           </div>
             
          </div>
          <div class="col-lg-1"></div>
      </div>
      
      <!-- FAQ all FAQs btn -->
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
          <button type="button" class="btn btn-block Student_FQs_btn mt-5 mb-5">View All FAQs</button>
        </div>
        <div class="col-md-5"></div>
      </div>
      <!--  -->
  </div>
  <!--  -->
  </div>
  <app-footer></app-footer>