.FAQs_heading {
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  color: #e31e24;
}
.Knowledge_heading {
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  color: black;
}
.Knowledge_path {
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  color: gray;
}
.FAQs_bg {
  background: white;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
.FAQs_Q {
  font-size: 18px;
  font-weight: 650;
  color: rgb(48, 46, 46);
  cursor: pointer;
}
.FAQ_bottom_margin {
  margin-top: 48px;
}
.Student_FQs_btn {
  background-color: white;
  border: 1px solid #e31e24 !important;
  border-radius: 22px !important;
  color: #e31e24;
  box-shadow: none !important;
  font-weight: 700 !important;
}
.Student_FQs_btn:hover {
  background-color: #e31e24;
  border-radius: 22px !important;
  color: white;
}
.FAQs_path {
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  color: gray;
}
/* mq */
@media screen and (max-width: 767px) {
  .Knowledge_path {
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    color: gray;
  }
  .Knowledge_heading {
    font-size: 50px;
  }
  .FAQs_Q {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 11px !important;
  }
  .FAQ_bottom_margin {
    margin-top: 10px;
  }
}
