<div class="container-fluid RnD_bg p-0"onmouseover="navBarColorBefore()">
     
     <!-- blog scetion -->
  <div class="container-fluid RnD_section">
    <!-- top margin -->
    <div class="top_margin_RnD"></div>
    <!-- top margin -->
     <h6 class="RnD_heading_path mt-2">
       <span style="color: grey;">HOME . ABOUT US .</span>
       R&D CENTRE
    </h6>
     <h1 class="RnD_heading mt-1">R<span style="color:#E31E24">&</span>D Centre</h1>
        <!-- RnD aria -->

        <!-- row one -->
        <div class="row">
          <div class="col-md-6 bg-light p-0">
            <img src="../../../../assets/R&DCenter/R_D Bldg.png" class="img-fluid RnD_building_img" alt="" srcset="">
          </div>
          <div class="col-md-6 bg-light god_css">

            <div class="RnD_grid_rigth">
               <h4 class="RnD_building_text">D&H Sécheron Electrodes Pvt. Ltd. has been amongst the pioneers in setting up an independent R&D Centre which is seamlessly connected to their main plant in Indore, India.Our R&D department has been one of the key contributors to the overall sustained growth of the company by developing new welding consumables as well as
                enhancing the existing ones.</h4>
            </div>

          </div>
        </div>
        <!-- row two -->
        <div class="row" style="background-color: rgb(187, 16, 22);">
          <div class="col-md-6 god_css">
            
            <div class="RnD_sec_row_text_padding">
              <h6 class="RnD_sec_row_text">
                Our testing facilities are on par with the very best in the welding industry, be it in India or
                Internationally. Our well-equipped machine tool workshop prepares all types of specimens with the highest levels of accuracy and speed. Some of our testing welding equipments(listed below) simulate all non-destructive testing scenarios and are calibrated frequently to ensure reliable results. Experienced and qualified operators are periodically trained, to confirm dependability and to operate all these equipments, effectively.
              </h6>
            </div>

          </div>
          <div class="col-md-6">
              <div class="row">
                <div class="col-3">
                    <img src="../../../../assets/R&DCenter//02 NABL Certificate.JPG" class="img-fluid NABL_for_RnD mt-3 mb-3" alt="" srcset="">
                </div>
                <div class="col-7 god_css">
                  
                  <div>
                    <h5 class="NABL_heading">NABL ACCREDITED TESTING FACILITIES</h5>
                    <h2 class="NABL_sub_text">( as per ISO/IEC 17025:2005 & Applicable Scope )
                    </h2>
                  
                    <a class="btn btn-sm mt-3"

                    style="text-decoration: none; border-radius: 15px; border: 2px solid white; color: white; font-weight: 500;"
                     
                    href="">
                      NABL CERTIFICATE
                    </a>

                  </div>

                </div>
              </div>
          </div>
        </div>
        <!--  -->
  </div>
       <!-- RnD Tests row-->
       <div class="container-fluid p-5" style="background:white;"> 

         <div class="RnD_main_Tests_heading god_css">
        <h1>Tests</h1>
         </div>

        <!-- card row one -->
        <div class="row">
          <!-- card one -->
          <div class="col-md-6">

            <div class="RnD_test_card">

              <div class="row">
                <div class="col-4">
                  
                  <img src="../../../../assets/R&DCenter/testone.png" class="img-fluid test_RnD_img" alt="" srcset="">
                </div>
                <div class="col-6 god_css">
                
                  <div class="RnD_test_padding">

                  <h1 class="RnD_test_heading">Drop Test Weight Machine</h1>
                  <h1 class="RnD_sub_test">Drop Weight Tear Tester (DWTT) is designed to perform drop weight tearing test (DWTT) for the ferrite steel materials including plank
                    </h1>
                  </div>

                </div>                   
              </div>

            </div>

          </div>
          <!-- card one -->
          <div class="col-md-6">

            <div class="RnD_test_card">

              <div class="row">
                <div class="col-4">
                  
                  <img src="../../../../assets/R&DCenter/testTwo.png" class="img-fluid test_RnD_img" alt="" srcset="">
                </div>
                <div class="col-6 god_css">
                
                  <div class="RnD_test_padding">

                    <h1 class="RnD_test_heading">Tensile Test</h1>
                    <h1 class="RnD_sub_test">It is performed to evaluate the mechanical property of the weld metal. In this test sample is subjected to a controlled tension load until the failure of sample.
                      </h1>
                  </div>

                </div>                   
              </div>

            </div>

          </div>
        </div>
      <!-- ///// -->
        <!-- card row tow -->
        <div class="row mt-5">
          <!-- card one -->
          <div class="col-md-6">

            <div class="RnD_test_card">

              <div class="row">
                <div class="col-4">
                  
                  <img src="../../../../assets/R&DCenter/testThree.png" class="img-fluid test_RnD_img" alt="" srcset="">
                </div>
                <div class="col-6 god_css">
                
                  <div class="RnD_test_padding">

                  <h1 class="RnD_test_heading">Spectroscopy</h1>
                  <h1 class="RnD_sub_test">Our chemical lab is equipped with spectroscopy metal analyzer for testing of weld metal analysis for internal and external requirements.
                    </h1>
                  </div>

                </div>                   
              </div>

            </div>

          </div>
          <!-- card one -->
          <div class="col-md-6">

            <div class="RnD_test_card">

              <div class="row">
                <div class="col-4">
                  
                  <img src="../../../../assets/R&DCenter/testfour.png" class="img-fluid test_RnD_img" alt="" srcset="">
                </div>
                <div class="col-6 god_css">
                
                  <div class="RnD_test_padding">

                  <h1 class="RnD_test_heading">Creep Test
                  </h1>
                  <h1 class="RnD_sub_test">It involves a standard tensile specimen under a constant load maintained at a constant temperature and measurements of strain are recorded over a 
                    </h1>
                  </div>

                </div>                   
              </div>

            </div>

          </div>
        </div>
      <!-- ///// -->
      <div style="height: 100px;"></div>
      </div>
       
      <!-- Equipments container -->
       <div class="container-fluid" style="background-color: #F8F9FA;">
           
        <div class="RnD_Equipments_heading god_css">
          <h1>Equipments</h1>
          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="row">
                <div class="col-6">
                   <img src="../../../../assets/R&DCenter/equp.png" class="img-fluid mx-auto d-block" alt="" srcset="">
                   <h1 class="Equipments_name mt-4 mb-2">Spectrometer</h1>
                </div>
                <div class="col-6">
                  <img src="../../../../assets/R&DCenter/eq2.png" class="img-fluid mx-auto d-block" alt="" srcset="">
                  <h1 class="Equipments_name mt-4 mb-2">Creep Machine</h1>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-6">
                  <img src="../../../../assets/R&DCenter/eq3.png" class="img-fluid mx-auto d-block" alt="" srcset="">
                  <h1 class="Equipments_name mt-4 mb-2">Furnace</h1>
                </div>
                <div class="col-6">
                  <img src="../../../../assets/R&DCenter/eq4.png" class="img-fluid mx-auto d-block" alt="" srcset="">
                  <h1 class="Equipments_name mt-4 mb-2">Diffusible Hydrogen Apparatus</h1>
                </div>
              </div>
            </div>

          </div>
        <!--  -->
        <div style="height: 100px;"></div>
        <!--  -->

       </div>
      </div>
      
      <app-footer></app-footer>