<div class="container-fluid p-0">

    <div class="container-fluid home_five_footer">
      <div class="five_home_top_margin"></div>
       <span class="p-5">
      <h2 class="icon_back_to_home"><i class="fas fa-chevron-up"></i></h2>
      <h2 class="back_to_home">go back to home</h2>
      </span>

      
      <!-- table container -->
      <div class="row">
       
        <div class="col-md-6">
          <div class="container-fluid table_box table-responsive-sm">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>
                    <h6 class="table_link mr-5">PRODUCT</h6>
                  </th>
                  <th>
                    <h6 class="table_link mr-5">ABOUT US</h6>
                  </th>
                  <th>
                    <h6 class="table_link mr-5">	
                      TEST</h6>
                  </th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <td>
                    <span>
                      <h6 class="table_link">Welding Consumable</h6>
                      <h6 class="table_link mt-3">Service Welding</h6>
                      <h6 class="table_link mt-3">welding Machines</h6>
                      <h6 class="table_link mt-3">Industrial Application</h6>
                      </span>
                  </td>
                  <td>
                    <span>
                      <h6 class="table_link">Welding Consumable</h6>
                      <h6 class="table_link mt-3">Service Welding</h6>
                      <h6 class="table_link mt-3">welding Machines</h6>
                      <h6 class="table_link mt-3">Industrial Application</h6>
                      <h6 class="table_link mt-3">Service Welding</h6>
                      <h6 class="table_link mt-3">welding Machines</h6>
                      <h6 class="table_link mt-3">Industrial Application</h6>
                      </span>
                  </td>
                  <td>
                    <span>
                      <h6 class="table_link">Welding Consumable</h6>
                      <h6 class="table_link mt-3">Service Welding</h6>
                      <h6 class="table_link mt-3">welding Machines</h6>
                      <h6 class="table_link mt-3">Industrial Application</h6>
                      <h6 class="table_link mt-3">Service Welding</h6>
                      <h6 class="table_link mt-3">welding Machines</h6>
                      <h6 class="table_link mt-3">Industrial Application</h6>
                      </span>
                  </td>
                  <!--  -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="container-fluid table_box">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>
                    <h6 class="table_link mr-5">social presence</h6>
                  </th>
                  <th>
                    <h6 class="table_link mr-5">contact details</h6>
                  </th>
                </tr>
              </thead>
              <tbody>
                
               
                <tr>
                  <td class="will_only_desktop">
                    <div class="row">
                      <div class="col-4">
                        <h2 class="">
                          <i class="fas fa-circle"></i>
                        </h2>
                      </div>
                      <div class="col-4">
                        <h2 class="">
                          <i class="fas fa-circle"></i>
                        </h2>
                      </div>
                      <div class="col-4">
                        <h2 class="">
                          <i class="fas fa-circle"></i>
                        </h2>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <h2 class="">
                          <i class="fas fa-circle"></i>
                        </h2>
                      </div>
                      <div class="col-4">
                        <h2 class="">
                          <i class="fas fa-circle"></i>
                        </h2>
                      </div>
                      <div class="col-4">
                        <h2 class="">
                          <i class="fas fa-circle"></i>
                        </h2>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span>
                    <h6 class="table_link">call +91 98335 50505</h6>
                    <h6 class="table_link">E-mail info@dnhsecheron.net</h6>
                    <h6 class="table_link">address</h6>
                    <h6 class="table_link">5th floor,Merchant chamber</h6>
                    <h6 class="table_link">s.v.thackersy marg</h6>
                    <h6 class="table_link">41,new marine lines</h6>
                    <h6 class="table_link">mumbai -400020</h6>
                    </span>
                  </td>
                  <!--  -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      
      </div>
      <!-- table container -->
  
      <!-- bottom navbar -->
      <div class="container-fluid fixed-bottom">
        <div class="row">
          <div class="col-3">
            <h4 class="bottom_navigation_left">
              About
            </h4>
          </div>
          <div class="col-6">
            
          </div>
          <div class="col-3">
            <h4 class="bottom_navigation_right">Contact
            </h4>
          </div>
        </div>
      </div>
  
     </div>

   </div>