.god_css {
  display: flex;
  justify-content: center;
  align-items: center;
}
.careers_bg {
  background-image: url(./../../../assets/career/career_bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}
.careers_section {
  height: auto;
}

.top_margin_careers {
  height: 160px;
}
.careers_heading_path {
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
}
.careers_heading {
  text-align: center;
  font-weight: bold;
  color: var(--main-parent-colorOne);
  padding: 8px;
  font-size: 55px;
}
.careers_tagLine {
  color: rgb(68, 67, 67);
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 24px;
}
/*-------------career section--------------------------*/
.form_section {
  margin-top: 60px;
  margin-bottom: 40px;
}
.form_card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.card_padding {
  padding: 18px;
}
.main_card {
  width: 100%;
  padding: 44px;
  background: var(--main-parent-colorOne);
  border-radius: 15px;
}
.career_card_heading {
  text-align: center;
  font-size: 21px;
  color: white;
}
.icon_padding {
  width: 100px;
  padding: 15px;
}
/* form css */
.custom_input_cv,
.form-control {
  background-color: white;
  box-shadow: none !important;
  border-radius: 20px;
  border: none;
}
.custom_input_cv {
  padding: 5px;
}
.form_heading {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 17px;
}
/* upload file */
/* file upload */
input[type="file"] {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: #c82230;
}
.custom_btn {
  font-size: 14px;
  border-radius: 19px;
}
/* Aptitude Test */
.Aptitude_container {
  border: 1px solid var(--main-parent-colorOne);
  margin-bottom: 60px;
  padding-top: 40px;
  padding-bottom: 35px;
}
.Aptitude_h1,
.Aptitude_h2 {
  text-align: center;
}
.Aptitude_h1 {
  font-weight: 400;
  font-size: 40px;
}
.Aptitude_h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--main-parent-colorOne);
}
.Aptitude_btn_padding_control {
  padding: 20px;
}
.Aptitude_btn {
  font-size: 14px;
  border-radius: 19px;
  background: white;
  border: 1px solid #e0e0e0;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 14px;
  box-shadow: none !important;
}
/*  */
@media screen and (max-width: 767px) {
  .careers_bg {
    background-image: none;
    background: white;
  }
  .careers_heading {
    padding: 0px;
    font-size: 52px;
  }
  .careers_tagLine {
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .main_card {
    width: 100%;
    padding: 35px;
    border-radius: 15px;
  }
  .card_padding {
    padding: 4px;
  }
  .icon_padding {
    width: 90px;
    padding: 0px;
    margin-bottom: 12px;
  }
  .career_card_heading {
    text-align: center;
    font-size: 12px;
  }
  /* form */
  .form_section {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .form_card {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .form_heading {
    font-size: 17px;
    padding-top: 6px;
    padding-bottom: 10px;
  }
  .custom_input_cv {
    padding: 0px;
  }
  /* .Aptitude*/

  .Aptitude_container {
    border: 1px solid var(--main-parent-colorOne);
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .Aptitude_h1 {
    font-size: 25px;
  }
  .Aptitude_h2 {
    font-size: 25px;
  }
  .Aptitude_btn_padding_control {
    padding: 5px;
  }
  .Aptitude_btn {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
  }
}
