<div style="height: 150px;"></div>
<!-- top margin -->

<div class="container-fluid careers_bg_img" onmouseover="navBarColorBefore()">
  <h6 class="careers_heading_path">
    <span style="color: grey;">HOME • CAREERS</span>
  </h6>
  <h1 class="careers_heading mt-2">Careers</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <h1 class="Block_Career_text">
        <span>D&H Sécheron</span> is a great place to work, offering excellent opportunities sure to give your career
        the required direction and a definitive environment that it needs to grow in.
      </h1>
      <!-- todo this block for page - 17 -->

      <div class="container-fluid mb-3" onmouseover="navBarColorBefore()">
        <div class="row ioc_row">
          <!-- card 1 -->
          <div *ngFor="let Card of CareerCard" class="col-lg-4 col-6 card_padding">
            <div class="main_card god_css">
              <div class="p-4">
                <a [routerLink]="[ '../vacancies' ]">
                  <img [src]="Card.img" class="ico_img mx-auto d-block" alt="" srcset="" />
                </a>
                <h1 class="card_heading">
                  {{Card.cardName}}
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<router-outlet></router-outlet>
