<div class="container-fluid careers_bg p-0" onmouseover="navBarColorBefore()">
     
    <!-- blog scetion -->
  <div class="container-fluid careers_section">
   <!-- top margin -->
   <div class="top_margin_careers"></div>
   <!-- top margin -->
    <h6 class="careers_heading_path mt-2">
      <span style="color: grey;">HOME .</span>
      CAREERS
   </h6>
    <h1 class="careers_heading mt-1">Careers</h1>
       
    
  </div>
  
  
  
  <!-- Careers grid -->
  <div class="container-fluid" style="background-color: rgb(240, 237, 240);">
   <div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-8">
       <h1 class="careers_tagLine mt-4"><span style="color: black;">D&H Sécheron</span> n is a great place to work, offering excellent opportunities sure to give your</h1>
       <h1 class="careers_tagLine">career the required direction and a definitive environment that it needs to grow in.</h1>
     </div>
     <div class="col-md-2"></div>
   </div>
  
  
   <div class="container-fluid mt-5">
     <!-- Careers card row 1 -->
      <div class="row Careers_card_grid">
       <div class="col-md-4">
         <div class="row">
           <div class="col-4">
             <img src="./../../../assets/c_card_one.png" width="200px" class="img-fluid Careers_card_img p-2" alt="" srcset="">
           </div>
           <div class="col-8 god_css">
             <div>
               <h1 class="careers_card_heading ml-2">Welding Sales Exec.</h1>
               <h1 class="careers_card_sub_text ml-2">Job Highlights</h1>
             </div>
           </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class="row">
           <div class="col-4">
             <img src="./../../../assets/c_card_two.png" width="200px" class="img-fluid p-2 Careers_card_img" alt="" srcset="">
           </div>
           <div class="col-8 god_css">
             <div>
               <h1 class="careers_card_heading ml-2">Welding Manager</h1>
               <h1 class="careers_card_sub_text ml-2">Job Highlights</h1>
             </div>
           </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class="row">
           <div class="col-4">
             <img src="./../../../assets/c_card_three.png" width="200px" class="img-fluid p-2 Careers_card_img" alt="" srcset="">
           </div>
           <div class="col-8 god_css">
             <div>
               <h1 class="careers_card_heading ml-2">Asst. Manager</h1>
               <h1 class="careers_card_sub_text ml-2">Job Highlights</h1>
             </div>
           </div>
         </div>
       </div>
      </div>
     <!-- Careers card row 2 -->
     <div class="row Careers_card_grid mt-4">
       <div class="col-md-4">
         <div class="row">
           <div class="col-4">
             <img src="./../../../assets/c_card_four.png" width="200px" class="img-fluid Careers_card_img p-2" alt="" srcset="">
           </div>
           <div class="col-8 god_css">
             <div>
               <h1 class="careers_card_heading ml-2">Welding Assistant</h1>
               <h1 class="careers_card_sub_text ml-2">Job Highlights</h1>
             </div>
           </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class="row">
           <div class="col-4">
             <img src="./../../../assets/c_card_FIVE.png" width="200px" class="img-fluid Careers_card_img p-2" alt="" srcset="">
           </div>
           <div class="col-8 god_css">
             <div>
               <h1 class="careers_card_heading ml-2">Chief Engineer</h1>
               <h1 class="careers_card_sub_text ml-2">Job Highlights</h1>
             </div>
           </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class="row">
           <div class="col-4">
             <img src="./../../../assets/c_card_Six.png" width="200px" class="img-fluid Careers_card_img p-2" alt="" srcset="">
           </div>
           <div class="col-8 god_css">
             <div>
               <h1 class="careers_card_heading ml-2">Exec. Manager</h1>
               <h1 class="careers_card_sub_text ml-2">Job Highlights</h1>
             </div>
           </div>
         </div>
       </div>
      </div>
      <!--  -->
      <div style="height: 100px;"></div>
      <!--  -->
   </div>
  <!--  -->
  </div>
  <!--  -->
  <!-- cv section aria -->
  <div class="container-fluid cv_aria">
  <!-- top margin -->
  <div style="height:80px;"></div>
  <!--  -->
  <div>
   <div class="row">
      <div class="col-lg-6 CV_img_grid">
        <img src="./../../../assets/ForCvImg.png"alt="" class="img-fluid CV_img mx-auto d-block"  srcset="">
      </div>
      <div class="col-lg-6">
        <div class="CV_form_container">
         <form action="">
  
           <h1 class="cv_text_heading mb-5">Send us your CV and we will get back to you</h1>
  
            <!-- name -->
           <div class="form-group custom_input_cv">
             <input type="email" class="form-control" id="name" placeholder="Name*" name="Name" style="background: transparent;">
           </div>
  
            <!-- Email -->
           <div class="form-group custom_input_cv">
             <input type="email" class="form-control" id="Email" placeholder="Email*" name="Email"
             style="background: transparent;"
             >
           </div>
  
            <!-- Contact Number -->
           <div class="form-group custom_input_cv">
             <input type="number" class="form-control" id="number" placeholder="Contact Number*" name="number"
             style="background: transparent;"
             >
           </div>
           
            <!-- Message -->
           <div class="form-group custom_input_cv">
             <textarea class="form-control" rows="5" id="comment" placeholder="Message" style="background: transparent;height:100px;"></textarea>
           </div>
           
           <!-- upload & submit -->
           <div>
             <div class="row">
               <div class="col-md-5 god_css">
  
                 <label for="file-upload" class="custom-file-upload">  
                   <h6>
                     Upload your CV* Choose File
                   </h6> 
               </label>  
               <input id="file-upload" type="file"/> 
               
               </div>
               <div class="col-md-6">
                 <button type="submit" class="btn btn-danger btn-lg btn-block">Submit</button>
               </div>
               <div class="col-md-1">
                 
               </div>
             </div>
           </div>
  
           <!-- Take Aptitude Test -->
            <div>
             <div class="row">
               <div class="col-md-11">
  
                 <button type="button" class="btn btn-lg btn-block cv_custom_btn mt-5">Take Aptitude Test</button>
                 
               </div>
               <div class="col-md-1"></div>
             </div>
            </div>
  
         </form>
        </div>
      </div>
   </div>
  </div>
  <!--  -->
  <div style="height:70px;"></div>
  <!--  -->
  </div>
  <!--  -->
  
  </div> 
  
  <app-footer></app-footer>