.Case_BG {
  background-color: var(--main-parent-colorTwo);
}
.case_path {
  font-size: 10px;
  text-align: center;
  font-weight: 700;
  color: grey;
}
.caseHeading_part {
  text-align: center;
  color: var(--main-parent-colorOne);
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-top: 48px;
}
.type_and_group {
  text-align: center;
  color: rgb(156, 154, 154);
}
/*  */
.Analysis_table {
  background-color: white;
}
.Analysis_heading {
  text-align: center;
  color: var(--main-parent-colorOne);
}
.Analysis_text {
  text-align: center;
  color: rgb(156, 154, 154);
}
.Analysis_text_dark {
  color: black;
  font-weight: 600;
}
.Procedure_list {
  font-size: 17px;
  color: rgb(85, 84, 84);
  text-align: justify;
  margin-top: 12px;
}
/*  */
.Further_case {
  font-size: 30px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.Case_btn {
  background: transparent;
  box-shadow: none !important;
  font-weight: 500 !important;
  color: gray;
  padding: 0px !important;
}
.scrollbar {
  height: 80px;
  width: 100%;
  background: #f7f7f7;
  cursor: pointer;
}

.force-overflow {
  min-height: 80px;
}

.Read_Case_Study {
  color: #e31e24;
  font-weight: bold;
  margin-bottom: 24px;
}
.card_description {
  font-size: 21.8px;
  font-weight: 600;
  color: gray;
}
/* mq */
@media screen and (max-width: 767px) {
  .caseHeading_part {
    font-size: 28px;
    margin-top: 16px;
  }
  .type_and_group {
    font-size: 13px;
  }
  .Analysis_text_dark,
  .Analysis_text {
    font-size: 13px;
    text-align: start;
  }
  .Procedure_list {
    font-size: 15px;
    margin-top: 8px;
  }
  .Further_case {
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 14px;
  }
  .card_description {
    font-size: 18.4px;
  }
  .Read_Case_Study {
    font-size: 13px;
    margin-bottom: 18px;
  }
}
