<div class="container-fluid Case_BG p-0" onmouseover="navBarColorBefore()">
  <div style="background-color: var(--main-parent-colorTwo);">
    <!-- top bar -->
    <div style="height: 160px;"></div>
    <h1 class="case_path">
      HOME • CASE STUDIES •
      <span style="color: black;">
        DUCTILE IRON PIPE JOINING FOR PRESSURE TEST
      </span>
    </h1>

    <h1 class="caseHeading_part">
      Ductile Iron Pipe Joining for <br />
      Pressure Test
    </h1>

    <!-- Industry Type , Product Group grid -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="row pt-3 pb-4">
            <div class="col-6">
              <p class="type_and_group">
                Industry Type <br />
                <span style="color: black; font-weight: 700;">Steel</span>
              </p>
            </div>
            <div class="col-6">
              <p class="type_and_group">
                Product Group <br />
                <span style="color: black; font-weight: 700;">MECH</span>
              </p>

              <p class="text-center"></p>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <!-- Industry Type , Product Group grid end -->
  </div>

  <!-- Analysis table -->
  <div
    style="
      background-color: white;
      border-bottom: 2px solid var(--main-parent-colorTwo);
    "
  >
    <div class="container Analysis_table">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 p-4">
          <h5 class="Analysis_heading pt-4">Analysis</h5>
          <div class="row">
            <div class="col-md-4 col-6 pt-2 pb-2">
              <p class="Analysis_text">
                Problem Due To <br />
                <span class="Analysis_text_dark"
                  >Joining for Pressure Testing</span
                >
              </p>
            </div>
            <div class="col-md-4 col-6 pt-2 pb-2">
              <p class="Analysis_text">
                Previous Solution <br />
                <span class="Analysis_text_dark">XYRON 2240</span>
              </p>
            </div>
            <div class="col-md-4 col-6 pt-2 pb-2">
              <p class="Analysis_text">
                Type of Problem<br />
                <span class="Analysis_text_dark">Broken</span>
              </p>
            </div>
            <!-- 2 next row -->
            <div class="col-md-4 col-6 pt-2 pb-2">
              <p class="Analysis_text">
                Dimensions (mm)<br />
                <span class="Analysis_text_dark"
                  >600 [L] x 10 [T] x 200 [Dia.]</span
                >
              </p>
            </div>
            <div class="col-md-4 col-6 pt-2 pb-2">
              <p class="Analysis_text">
                Component Name<br />
                <span class="Analysis_text_dark">Pipes</span>
              </p>
            </div>
            <div class="col-md-4 col-6 pt-2 pb-2">
              <p class="Analysis_text">
                Base Metal<br />
                <span class="Analysis_text_dark">Ductile Iron</span>
              </p>
            </div>
            <!-- 3 next row -->
            <div class="col-md-4 col-6 pt-2 pb-2">
              <p class="Analysis_text">
                Equipment<br />
                <span class="Analysis_text_dark">Pipe</span>
              </p>
            </div>
            <div class="col-md-4 col-6 pt-2 pb-2">
              <p class="Analysis_text">
                Comp Weight<br />
                <span class="Analysis_text_dark">47 kgs</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
  <!-- Analysis table end -->

  <!-- D&H Secheron Solution -->
  <div
    style="
      background-color: white;
      border-bottom: 2px solid var(--main-parent-colorTwo);
    "
  >
    <div class="container Analysis_table">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 p-4">
          <h5 class="Analysis_heading pt-4">D&H Secheron Solution</h5>
          <div class="row">
            <div class="col-md-4 col-6 pt-2 pb-2">
              <p class="Analysis_text">
                Product <br />
                <span class="Analysis_text_dark">LOTHERME 703</span>
              </p>
            </div>
            <div class="col-md-4 col-6 pt-2 pb-2">
              <p class="Analysis_text">
                Product<br />
                <span class="Analysis_text_dark">LOTHERME 705</span>
              </p>
            </div>
            <div class="col-md-4 col-6 pt-2 pb-2">
              <p class="Analysis_text">
                Size<br />
                <span class="Analysis_text_dark">3.15 mm</span>
              </p>
            </div>
            <!-- 2 next row -->
            <div class="col-md-4 col-6 pt-2 pb-2">
              <p class="Analysis_text">
                Power Source<br />
                <span class="Analysis_text_dark">Rectifier</span>
              </p>
            </div>
            <div class="col-md-4 col-6 pt-2 pb-2">
              <p class="Analysis_text">
                Polarity<br />
                <span class="Analysis_text_dark">Straight</span>
              </p>
            </div>
          </div>
          <!-- D&H Secheron Solution two img -->
          <div class="row">
            <div class="col-md-6">
              <img
                src="../../../../assets/casestudy/maincase1.png"
                alt=""
                class="img-fluid"
                width="400px"
                srcset=""
              />
              <p class="Analysis_text pt-2">
                Ductile Iron Pipe Joining with LOTHERME 703, 705
              </p>
            </div>
            <div class="col-md-6">
              <img
                src="../../../../assets/casestudy/maincase2.png"
                class="img-fluid"
                alt=""
                width="400px"
                srcset=""
              />
              <p class="Analysis_text pt-2">Hydraulic Pressure test Found Ok</p>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
  <!-- D&H Secheron Solution end -->

  <!-- D&H Secheron Solution -->
  <div
    style="
      background-color: white;
      border-bottom: 2px solid var(--main-parent-colorTwo);
    "
  >
    <div class="container Analysis_table pb-4">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 p-4">
          <h5 class="Analysis_heading pt-4">Procedure</h5>
          <div class="row">
            <div class="col-md-4 col-6 pt-2 pb-2">
              <p class="Analysis_text">
                Size<br />
                <span class="Analysis_text_dark">3.15 mm</span>
              </p>
            </div>
            <!-- 2 next row -->
            <div class="col-md-4 col-6 pt-2 pb-2">
              <p class="Analysis_text">
                Power Source<br />
                <span class="Analysis_text_dark">Rectifier</span>
              </p>
            </div>
            <div class="col-md-4 col-6 pt-2 pb-2">
              <p class="Analysis_text">
                Polarity<br />
                <span class="Analysis_text_dark">Straight</span>
              </p>
            </div>
          </div>
          <!-- Procedure list -->
          <h1 class="Procedure_list">
            1. 4 Pipes Edges Made The Grove By Grinding Machine
          </h1>

          <h1 class="Procedure_list">
            2. Each Pipe Joints Made Tocka Weld Apposit Sides
          </h1>

          <h1 class="Procedure_list">3. Pre Heated The Pipes Up To 60 Deg</h1>

          <h1 class="Procedure_list">
            4. Cast Iron Welding Prociser Made The Grove Joinings 50mm Opposite
            Sides And Complited The Total
            <span style="color: black;"
              >DDPipe Welding Using Lotherme 705 Dia 3.15mm And One More Pipe
              With Lotherme 703 Dia 3.15mm</span
            >
          </h1>

          <h1 class="Procedure_list">
            5. They Tested The Both The Pipes Hydralic Pressur Test Found
            Satisfactory
          </h1>
          <!-- // -->
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
  <!-- D&H Secheron Solution end -->

  <!-- Further Reading on Case Studies -->
  <div class="p-4" style="background-color: var(--main-parent-colorTwo);">
    <h1 class="Further_case pl-3">Further Reading on Case Studies</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 p-3">
          <!-- card 1 -->
          <div class="p-1">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-sm Case_btn">
                Industry
              </button>

              <button type="button" class="btn btn-sm Case_btn ml-3">
                Category
              </button>
            </div>
            <!-- text aria -->
            <!-- scroll bar -->
            <div class="scrollbar" id="style-3">
              <!-- blog description here  -->
              <h6 class="card_description mt-2">
                The Morgan Stanley Global Consumer & Retail Investor Conference
              </h6>
              <!--  -->
              <div class="force-overflow"></div>
            </div>
            <!-- scroll bar// -->
            <a href="" style="text-decoration: none;">
              <h6 class="Read_Case_Study">Read Case Study</h6>
            </a>
          </div>
          <!--  -->
        </div>
        <div class="col-md-4 p-3">
          <!-- card 1 -->
          <div class="p-1">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-sm Case_btn">
                Industry
              </button>

              <button type="button" class="btn btn-sm Case_btn ml-3">
                Category
              </button>
            </div>
            <!-- text aria -->
            <!-- scroll bar -->
            <div class="scrollbar" id="style-3">
              <!-- blog description here  -->
              <h6 class="card_description mt-2">
                The Morgan Stanley Global Consumer & Retail Investor Conference
              </h6>
              <!--  -->
              <div class="force-overflow"></div>
            </div>
            <!-- scroll bar// -->
            <a href="" style="text-decoration: none;">
              <h6 class="Read_Case_Study mb-4">Read Case Study</h6>
            </a>
          </div>
          <!--  -->
        </div>
        <div class="col-md-4 p-3">
          <!-- card 1 -->
          <div class="p-1">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-sm Case_btn">
                Industry
              </button>

              <button type="button" class="btn btn-sm Case_btn ml-3">
                Category
              </button>
            </div>
            <!-- text aria -->
            <!-- scroll bar -->
            <div class="scrollbar" id="style-3">
              <!-- blog description here  -->
              <h6 class="card_description mt-2">
                The Morgan Stanley Global Consumer & Retail Investor Conference
              </h6>
              <!--  -->
              <div class="force-overflow"></div>
            </div>
            <!-- scroll bar// -->
            <a href="" style="text-decoration: none;">
              <h6 class="Read_Case_Study mb-4">Read Case Study</h6>
            </a>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
