
<div class="container-fluid admin_bg animated fadeIn p-0 center_v" onmouseover="navBarColorBefore()">
    <div class="container admin">
        <h1 class="admin_heading display-4">admin panal</h1>
        <div class="row">
            <div class="col-6 col-md-3">
                <a routerLink="./Products">
                <div class="admin_nav_card god_css">
                    <span>
                        <img src="../../../assets/adminzone/order.svg" class="img-fluid" alt="">
                        <h1>add product</h1>
                    </span>
                </div>
                </a>
            </div>
            <div class="col-6 col-md-3">
                <a routerLink="./Industries">
                <div class="admin_nav_card god_css">
                    <span>
                        <img src="../../../assets/adminzone/factory.svg" class="img-fluid" alt="">
                        <h1>add Industries</h1>
                    </span>
                </div>
                </a>
            </div>
            <div class="col-6 col-md-3">
                <a routerLink="./adminBlogs">
                <div class="admin_nav_card god_css">
                    <span>
                        <img src="../../../assets/adminzone/blog.svg" class="img-fluid" alt="">
                        <h1>create blogs</h1>
                    </span>
                </div>
                </a>
            </div>
            <div class="col-6 col-md-3">
                <a routerLink="./Careers">
                <div class="admin_nav_card god_css">
                    <span>
                        <img src="../../../assets/adminzone/career.svg" class="img-fluid" alt="">
                        <h1>career zone</h1>
                    </span>
                </div>
                </a>
            </div> 
        </div>
    </div>
</div>
<router-outlet></router-outlet>
