<div onmouseover="navBarColorBefore()" class="container-fluid time_line_bg" style="height: auto;">
    <div style="height: 160px;"></div>
    <div class="row">
      <div class="col-lg-6 mt-5">
        <div class="wheel circle-menu__circle">

            <img src="../../../assets/timeline/timelineCircle.png" class="img" alt="" srcset="">

          <div class="wheel__list">
            <div class="wheel__list__item">
              <span>
                <a href="">2014</a>
              </span>
            </div>
            <div class="wheel__list__item">
              <span>
                <a href="">2015</a>
              </span>
            </div>
            <div class="wheel__list__item">
              <span>
                <a href="">2016</a>
              </span>
            </div>
            <div class="wheel__list__item">
              <span>
                <a href="">2017</a>
              </span>
            </div>
            <div class="wheel__list__item">
              <span>
                <a href="">2018</a>
              </span>
            </div>
            <div class="wheel__list__item">
              <span>
                <a href="">2019</a>
              </span>
            </div>
            <div class="wheel__list__item">
              <span>
                <a href="">2019</a>
              </span>
            </div>
            <div class="wheel__list__item">
              <span>
                <a href="">2019</a>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 god_css">

        <!-- component 1 -->
        <div>
          <h1 class="change_time_line_heading ml-3">supratherme
          </h1>
          <br>
          <h2 class="change_time_line_text ml-3">An electrode conforming to GS8
            specifications</h2>
        </div>
        <!--  -->

      </div>
    </div>

<br><br>
  </div>
