<div class="container-fluid p-0">

    <!-- fourth home -->
    <div class="container-fluid fourth_home_main_page">
      <!--  -->
      <div class="fourth_home_top_margin"></div>
      <!--  -->
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 fourth_home_grid">
          <h1 class="fourth_home_heading">"Lorem ipsum dolor sit amet"</h1>
          <h5 class="fourth_home_sub_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse rerum facere
            quaerat sunt eaque. Ex consectetur iure aut, laboriosam, totam maxime ducimus veritatis delectus,
            distinctio error esse consequuntur? Aut, minus.</h5>
          <!-- CEO section -->
          <div class="container-fluid">
            <h3 class="person_name">roshni nadar</h3>
            <h4 class="person_post">CEO,HCL</h4>
          </div>
          <!--  -->
          <div class="container-fluid fourth_home_icon_row">
            <!-- row one -->
            <div class="row">
              <!-- offset grid -->
              <div class="col-1">
              </div>
              <!--  -->
              <div class="col-2">
                <!-- blank -->
              </div>

              <div class="col-2">

                <img src="./../assets/yamaha.png" class="mx-auto d-block fourth_home_grid_icon" alt=""
                     srcset="">

              </div>

              <div class="col-2">
                <!-- blank -->
              </div>

              <div class="col-2">
                <img src="./../../assets/adani.png" class="mx-auto d-block fourth_home_grid_icon" alt="" srcset="">
              </div>

              <div class="col-2">
                <!-- blank -->
              </div>
              <!-- offset grid -->
              <div class="col-1">

              </div>
              <!--  -->
            </div>
            <!-- row two -->
            <div class="row">
              <!-- offset grid -->
              <div class="col-1">
              </div>
              <!--  -->
              <div class="col-2">
                <img src="./../../assets/baja_logo.png" class="mx-auto d-block fourth_home_grid_icon" alt=""
                     srcset="">
              </div>

              <div class="col-2">
                <!-- blank -->
              </div>

              <div class="col-2">
                <img src="./../../assets/Hero-logo.png" class="mx-auto d-block fourth_home_grid_icon" alt=""
                     srcset="">
              </div>

              <div class="col-2">
                <!-- blank -->
              </div>

              <div class="col-2">
                <img src="./../../assets/Tata-logo.png" class="mx-auto d-block fourth_home_grid_icon" alt=""
                     srcset="">
              </div>
              <!-- offset grid -->
              <div class="col-1">

              </div>
              <!--  -->
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>

      </div>
      <!-- bottom navbar -->
      <div class="container-fluid fixed-bottom">
        <div class="row">
          <div class="col-3">
            <h4 class="easy_product_finder_left">
              <i class="fas fa-long-arrow-alt-left"></i>
              Home About</h4>
          </div>
          <div class="col-6">
            <h4 class="easy_product_finder_center">
              <i class="fas fa-minus-circle mr-3"></i>
              <i class="fas fa-minus-circle mr-3"></i>
              <i class="fas fa-minus-circle mr-3"></i>
              <i class="fas fa-minus-circle mr-3" style="color: #E31E24;"></i>
              <i class="fas fa-minus-circle mr-3"></i>
            </h4>
          </div>
          <div class="col-3">
            <h4 class="easy_product_finder_right">Contact Overview
              <i class="fas fa-long-arrow-alt-right"></i>
            </h4>
          </div>
        </div>
      </div>
      <!--  -->
    </div>

  </div>