<!-- blog scetion -->
<div class="container-fluid blog_section" onmouseover="navBarColorBefore()">
    <!-- top margin -->
    <div class="top_margin_blog"></div>
    <!-- top margin -->
     <h6 class="blog_heading_path">HOME . BLOG</h6>
     <h1 class="blog_heading mt-2">Insights</h1>
        <!-- blog aria -->
     <div class="container-fluid main_blog_aria">
        <!-- blog switching btn row-->
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 p-4">
                <div class="row">
                    <div class="col-md-4 god_css">

                       <h6 class="blog_topic">Filter by topic</h6>

                    </div>
                    <div class="col-4">

                        <a href="" style="text-decoration: none;">
                        <h6 class="blog_link">Welding</h6>
                        </a>

                    </div>
                    <div class="col-4">

                      <a href="" style="text-decoration: none;">
                      <h6 class="blog_link">Eletrodes</h6>
                      </a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
        <!--  -->

        <!-- blog card container-->
        <div class="card_container p-3">
            <div class="row">
              <!-- card 1 -->
                <div class="col-md-4 card_ui">
                    <!-- card -->
                    <h5 class="card_date mt-3">Dec 14, 2019 Topic</h5>
                    <h5 class="card_heading mt-3">Aviation’s Quick Six with Advanced Technology Engineering</h5>
                    <!-- scroll bar -->
                    <div class="scrollbar" id="style-3">
                      <!-- blog description here  -->
                      <h6 class="card_description mt-2">This week, we hosted our annual Best of Brand Awards during our North America Brand Summit to recognize</h6>
                      <!--  -->
                        <div class="force-overflow"></div>
                    </div>
                    <!-- scroll bar// -->
                      <br>
                   <a [routerLink]="['../blogs/blog']">
                    <h6 class="read_more mb-4 mt-1">Read more</h6>
                  </a>
                   <!--  -->
                   <!-- -->
                   <hr>
                </div>
                <!-- card 2 -->
                <div class="col-md-4 card_ui">
                  <!-- card -->
                  <h5 class="card_date mt-3">Dec 14, 2019 Topic</h5>
                  <h5 class="card_heading mt-3">The Morgan Stanley Global Consumer & Retail Investor Conference</h5>
                  <!-- scroll bar -->
                  <div class="scrollbar" id="style-3">
                    <!-- blog description here  -->
                    <h6 class="card_description mt-2">Today celebrating International Day of Persons with
                      Disabilities across our global sites. We recognize this important day and reflect on the ways in which our</h6>
                    <!--  -->
                      <div class="force-overflow"></div>
                  </div>
                  <!-- scroll bar// -->
                    <br>
                 <a [routerLink]="['../blogs/blog']">
                    <h6 class="read_more mb-4 mt-1">Read more</h6>
                  </a>
                 <!-- -->
                 <hr>
              </div>
               <!-- card 3 -->
               <div class="col-md-4 card_ui">
                <!-- card -->
                <h5 class="card_date mt-3">Dec 14, 2019 Topic</h5>
                <h5 class="card_heading mt-3">Celebrating The Best Of The Best: 2019 Best Of Brand Awards</h5>
                <!-- scroll bar -->
                <div class="scrollbar" id="style-3">
                  <!-- blog description here  -->
                  <h6 class="card_description mt-2">All abilities since our founding. We’re lighting up our
                    buildings and digital sites in purple on December 3,
                    </h6>
                  <!--  -->
                    <div class="force-overflow"></div>
                </div>
                <!-- scroll bar// -->
                  <br>
               <a [routerLink]="['../blogs/blog']">
                    <h6 class="read_more mb-4 mt-1">Read more</h6>
                  </a>
               <!-- -->
               <hr>
            </div>
            </div>

            <div class="row">
              <!-- card 4 -->
              <div class="col-md-4 card_ui">
                <!-- card -->
                <h5 class="card_date mt-3">Dec 14, 2019 Topic</h5>
                <h5 class="card_heading mt-3">Celebrating The Best Of The Best: 2019
                  Best Of Brand Awards
                  </h5>
                <!-- scroll bar -->
                <div class="scrollbar" id="style-3">
                  <!-- blog description here  -->
                  <h6 class="card_description mt-2">Today celebrating International Day of Persons with
                    Disabilities across our global sites. We recognize this
                    important day and reflect on the ways in which our</h6>
                  <!--  -->
                    <div class="force-overflow"></div>
                </div>
                <!-- scroll bar// -->
                  <br>
               <a [routerLink]="['../blogs/blog']">
                    <h6 class="read_more mb-4 mt-1">Read more</h6>
                  </a>
               <!-- -->
               <hr>
            </div>
              <!-- card 5 -->
              <div class="col-md-4 card_ui">
                <!-- card -->
                <h5 class="card_date mt-3">Dec 14, 2019 Topic</h5>
                <h5 class="card_heading mt-3">The Morgan Stanley Global Consumer &
                  Retail Investor Conference</h5>
                <!-- scroll bar -->
                <div class="scrollbar" id="style-3">
                  <!-- blog description here  -->
                  <h6 class="card_description mt-2">All abilities since our founding. We’re lighting up our
                    buildings and digital sites in purple on December 3,</h6>
                  <!--  -->
                    <div class="force-overflow"></div>
                </div>
                <!-- scroll bar// -->
                  <br>
               <a [routerLink]="['../blogs/blog']">
                    <h6 class="read_more mb-4 mt-1">Read more</h6>
                  </a>
               <!-- -->
               <hr>
            </div>
              <!-- card 6 -->
              <div class="col-md-4 card_ui">
                <!-- card -->
                <h5 class="card_date mt-3">Dec 14, 2019 Topic</h5>
                <h5 class="card_heading mt-3">Aviation’s Quick Six with Advanced
                  Technology Engineering
                  </h5>
                <!-- scroll bar -->
                <div class="scrollbar" id="style-3">
                  <!-- blog description here  -->
                  <h6 class="card_description mt-2">This week, we hosted our annual Best of Brand Awards
                    during our North America Brand Summit to recognize</h6>
                  <!--  -->
                    <div class="force-overflow"></div>
                </div>
                <!-- scroll bar// -->
                  <br>
               <a [routerLink]="['../blogs/blog']">
                    <h6 class="read_more mb-4 mt-1">Read more</h6>
                  </a>
               <!-- -->
               <hr>
            </div>
          </div>

          <div class="row">
            <!-- card 7 -->
            <div class="col-md-4 card_ui">
              <!-- card -->
              <h5 class="card_date mt-3">Dec 14, 2019 Topic</h5>
              <h5 class="card_heading mt-3">Aviation’s Quick Six with Advanced
                Technology Engineering</h5>
              <!-- scroll bar -->
              <div class="scrollbar" id="style-3">
                <!-- blog description here  -->
                <h6 class="card_description mt-2">This week, we hosted our annual Best of Brand Awards
                  during our North America Brand Summit to recognize</h6>
                <!--  -->
                  <div class="force-overflow"></div>
              </div>
              <!-- scroll bar// -->
                <br>
             <a [routerLink]="['../blogs/blog']">
                    <h6 class="read_more mb-4 mt-1">Read more</h6>
                  </a>
             <!-- -->
             <hr>
          </div>
            <!-- card 8 -->
            <div class="col-md-4 card_ui">
              <!-- card -->
              <h5 class="card_date mt-3">Dec 14, 2019 Topic</h5>
              <h5 class="card_heading mt-3">The Morgan Stanley Global Consumer &
                Retail Investor Conference</h5>
              <!-- scroll bar -->
              <div class="scrollbar" id="style-3">
                <!-- blog description here  -->
                <h6 class="card_description mt-2">All abilities since our founding. We’re lighting up our
                  buildings and digital sites in purple on December 3,
                  </h6>
                <!--  -->
                  <div class="force-overflow"></div>
              </div>
              <!-- scroll bar// -->
                <br>
             <a [routerLink]="['../blogs/blog']">
                    <h6 class="read_more mb-4 mt-1">Read more</h6>
                  </a>
             <!-- -->
             <hr>
          </div>
            <!-- card 9 -->
            <div class="col-md-4 card_ui">
              <!-- card -->
              <h5 class="card_date mt-3">Dec 14, 2019 Topic</h5>
              <h5 class="card_heading mt-3">Celebrating The Best Of The Best: 2019
                Best Of Brand Awards</h5>
              <!-- scroll bar -->
              <div class="scrollbar" id="style-3">
                <!-- blog description here  -->
                <h6 class="card_description mt-2">Today celebrating International Day of Persons with
                  Disabilities across our global sites. We recognize this
                  important day and reflect on the ways in which our</h6>
                <!--  -->
                  <div class="force-overflow"></div>
              </div>
              <!-- scroll bar// -->
                <br>
             <a [routerLink]="['../blogs/blog']">
                    <h6 class="read_more mb-4 mt-1">Read more</h6>
                  </a>
             <!-- -->
             <hr>
          </div>
        </div>

        </div>
         <!--  -->
     </div>
</div>
<!--  -->
<app-footer></app-footer>