<!-- blog scetion -->
<div class="container-fluid blog_section" onmouseover="navBarColorBefore()">
  <!-- top margin-->
  <div class="top_margin_blog"></div>
  <!-- top margin -->
  <h6 class="blog_heading_path">
    <span style="color: grey;">HOME • </span>
    BLOGS
  </h6>
  <h1 class="blog_heading mt-2">Insights</h1>
  <!-- blog aria -->

  <div class="container-fluid main_blog_aria">
    <!-- blog switching btn row-->
    <div class="row">
      <div class="col-lg-12 p-4">
        <h6 class="blog_topic">Filter by topic</h6>
        <div class="row">
          <div class="col-lg-12">
            <div class="row god_css">

              <!-- todo use ngFor here -->
              <div class="col-lg-3 col-md-3 col-4">
                <a href="" style="text-decoration: none;">
                  <h6 class="blog_link">Welding</h6>
                </a>
              </div>
              <!--  -->

            </div>
          </div>
        </div>
      </div>
      <!--  -->

      <!-- blog card container-->
      <div class="card_container p-3">
        <div class="row">
          <!-- todo use ngFor card 1 -->
          <div class="col-md-4" *ngFor="let card of blog">
           <div class="card_ui">
              <!-- card -->
            <h5 class="card_date mt-3">

              <a href="">{{card.date}}</a>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a href="">Topic</a>

            </h5>
            <h5 class="card_heading mt-3">
             {{card.heading}}
            </h5>
            <!-- scroll bar -->
            <div class="scrollbar" id="style-3">
              <!-- blog description here  -->
              <h6 class="card_description mt-2">
                {{card.info}}
              </h6>
              <!--  -->
              <div class="force-overflow"></div>
            </div>
            <!-- scroll bar// -->
            <br />
            <a [routerLink]="[card.link]">
              <h6 class="read_more mb-4 mt-1">{{card.linkText}}</h6>
            </a>
            <!--  -->
            <!-- -->
            <hr />
           </div>
          </div>

        </div>
      </div>
      <!--  -->
    </div>
  </div>

</div>