/*  */
.card_date a {
  text-decoration: none;
  color: gray !important;
}
.address_contect_bar {
  color: #7b7b7a;
  font-size: 1vw;
  font-weight: bold;
}
.address_contect_bar_right {
  color: #7b7b7a;
  font-size: 1vw;
  text-align: end;
  font-weight: bold;
}
/*  */
.blog_section {
  background-color: #e4e4e4;
  height: auto;
  padding: 35px;
}
.top_margin_blog {
  height: 150px;
}
.blog_heading {
  text-align: center;
  font-weight: bold;
  color: var(--main-parent-colorOne);
  padding: 8px;
  font-size: 55px;
}

.blog_heading_path {
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
}
.main_blog_aria {
  background: white;
  height: auto;
}
.blog_link {
  background-color: transparent;
  text-align: center;
  padding: 5px;
  text-transform: capitalize;
  border: 1px solid gray;
  color: gray;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.3vw;
}
.blog_link:hover {
  border: 1px solid var(--main-parent-colorOne);
  color: var(--main-parent-colorOne);
}
.blog_topic {
  font-weight: 600;
  text-align: center;
  margin-bottom: 48px;
}

/* card */
.card_ui {
  padding: 12px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 0px 14px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px -6px rgba(0,0,0,0.75);
  border-radius: 8px;
}
.card_date {
  text-align: start;
  font-size: 17.7px;
  font-weight: 400;
}
.card_heading {
  text-align: start;
  font-size: 21.8px;
  font-weight: 600;
  color: var(--main-parent-colorOne);
}

.read_more {
  text-align: start;
  font-size: 16.3px;
  color: var(--main-parent-colorOne);
  font-weight: bolder;
}

.scrollbar {
  height: 80px;
  width: 100%;
  background: white;
  cursor: pointer;
}

.force-overflow {
  min-height: 200px;
}

#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  background-color: #f5f5f5;
}

#style-3::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: #e31e24;
}
.card_description {
  font-size: 16.3px;
  font-weight: 450;
}
@media screen and (max-width: 767px) {
  .blog_link {
    font-size: 2.6vw;
  }
  .blog_topic {
    margin-bottom: 20px;
  }
  .blog_heading {
    text-align: center;
    font-weight: bold;
    color: var(--main-parent-colorOne);
    padding: 8px;
    font-size: 47px;
  }
  .card_heading {
    font-size: 18.4px;
  }
  .card_description {
    font-size: 13px;
  }
  .blog_section {
    padding: 5px;
  }
  .card_date {
    font-size: 14.3px;
  }
}
