.logo_control_home_product_finder{
    width: 170px;
}
.navbar_link{
   text-transform: uppercase;
   font-size: 1vw;
   margin-right: 42px;
   color: #7B7B7A;
   font-weight: bold;
}
.language_bar{
    height: auto;
    background: transparent;
}
.grid_border{
    border: 1px solid transparent;
}
.language_text_right{
    text-align: end;
    font-size: 1vw;
    text-transform: uppercase;
    padding: 2px;
    color: white;
    font-weight: 600;
}
.language_text_left{
    text-align: start;
    font-size: 1vw;
    text-transform: uppercase;
    padding: 2px;
    margin-left: 14px;
    color: white;
    font-weight: 600;
}

/*  */
.address_contect_bar{
    color: #7B7B7A;
    font-size: 1vw;
    font-weight: bold;
}
.address_contect_bar_right{
    color: #7B7B7A;
    font-size: 1vw;
    text-align: end;
    font-weight: bold;
}
/*  */
.blog_section{
    background-color: var(--main-parent-colorTwo);
    height: auto;
    padding: 35px;
}
.top_margin_blog{
  height: 150px;
}
.blog_heading{
text-align: center;
font-weight: bold;
color: #E31E24;
padding: 17px;
font-size: 3.5vw;
}

.blog_heading_path{
 text-transform: uppercase;
 text-align: center;
 font-size: 10px;
 font-weight: bold;
}
.main_blog_aria{
  background: white;
  height: auto;
}
.blog_link{
    background-color: transparent;
    text-align: center;
    padding: 5px;
    text-transform: capitalize;
    border:1px solid red;
    color: red;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.3vw;
    cursor: pointer;
}
.blog_topic{
    font-weight: 600;
    text-align: center;
}
.god_css{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* card */
.card_ui{

}
.card_date{
  text-align: start;
  font-size: 1.3vw;
  font-weight: 400;
}
.card_heading{
    text-align: start;
    font-size: 1.6vw;
    font-weight: 600;
    color: black;
}

.read_more{
    text-align: start; 
    font-size: 1.2vw;
    color: #E31E24;
    font-weight: bolder;
}

.scrollbar
{
	height: 100px;
	width: 100%;
	background: white;
  /* overflow-y: scroll; */
  cursor: pointer;
}
/* new css */
.posted_by{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: rgb(85, 83, 83);
  
}
.post_name{
    font-weight: 600;
    color: black !important;
}
.post_name:hover{
    text-decoration: underline;
}
.radio_aria{
    display: flex;
    justify-content: center;
    text-align: center;
}
/* redio */
.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: rgb(179, 174, 174);
    /* border: rebeccapurple; */
    border-radius: 8px;
}
.main_blog_text{
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
}
.Similar_blog_heading{
    font-size: 32px;
    font-weight: 700;
}
/*  */
.Subscribe_email_blog_input{
    background: transparent;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    color: white;
    font-size: 19px;
   font-weight: 300;
}
.Subscribe_email_blog_input::placeholder{
   color: white;
   font-size: 19px;
   font-weight: 300;
}
.Subscribe_blog_heading{
    font-size: 30px;
    color: white;
}
.blog_subscribe_bg{
    background-image: url(../../../../assets/mainblog/blog_subscribe_bg.png);
    background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    width: 100%;
}