<div class="animated fadeIn" onmouseover="navBarColorBefore()">
  <!-- blog scetion -->
  <div class="container-fluid blog_section">
    <!-- top margin -->
    <div class="top_margin_blog"></div>
    <!-- top margin -->
    <h6 class="blog_heading_path">
      HOME • BLOG • WELDING • A Pocket Full of 7018 and 5 Stick Welding Tips
    </h6>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1 class="blog_heading mt-2">
          A Pocket Full of Cellutherme and Stick Welding Tips
        </h1>
      </div>
      <div class="col-md-2"></div>
    </div>
    <h1 class="posted_by">
      Posted by <a href=""><span class="post_name">Saurabh Shakya</span></a> on
      Jan 14, 2020
    </h1>

    <div class="row">
      <div class="col-12 god_css radio_ele_box">
        <form>
          <div class="custom-control custom-radio custom-control-inline">
            <input
              type="radio"
              class="custom-control-input"
              id="customRadio"
              name="Share"
              value="customEx"
            />
            <label
              class="custom-control-label"
              for="customRadio"
              style="font-weight: 700;"
              >Share</label
            >
          </div>

          <div class="custom-control custom-radio custom-control-inline">
            <input
              type="radio"
              class="custom-control-input"
              id="customRadio2"
              name="Share"
              value="customEx"
            />
            <label
              class="custom-control-label"
              for="customRadio2"
              style="font-weight: 700;"
              >8 min</label
            >
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- ---------------main blog container----------------->

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class="p1_text_container">
          <h1 class="main_blog_text">
            Have you ever had one of those days? You know, where you’ve got 6010
            in one back pocket and 7018in the other and the metal seems to
            stretch on for miles? Now that’s a welding work day many of uscan
            relate to…
          </h1>
        </div>
        <div class="p2_text_container">
          <h1 class="main_blog_text">
            For me, stick welding is where I feel my roots and the proud
            memories of the dedication and discipline it took to become a pipe
            fitter andwelder. I feel lucky that my firstwelding job was as a
            hand on a pipe crew. The craftsmanship and masteryI witnessed there
            have never leftme. I watched my welder make an orange peel bell
            reduceronce, and that set me on the path oflearning layout… Of
            course “Mr. Grinder” and I became very goodfriends at that point.
          </h1>
        </div>
        <div class="container-fluid img_container">
          <img
            src="../../../../assets/mainblog/blogimg1.png"
            alt=""
            style="width: 100%;"
            srcset=""
          />
        </div>
        <!--  -->
        <div class="p1_text_container">
          <h1 class="main_blog_text">
            Have you ever had one of those days? You know, where you’ve got 6010
            in one back pocket and 7018 in the other and the metal seems to
            stretch on for miles? Now that’s a welding work day many of us can
            relate to…
          </h1>
        </div>
        <div class="p2_text_container">
          <h1 class="main_blog_text">
            For me, stick welding is where I feel my roots and the proud
            memories of the dedication and discipline it took to become a pipe
            fitter and welder. I feel lucky that my first welding job was as a
            hand on a pipe crew. The craftsmanship and mastery I witnessed there
            have never left me. I watched my welder
          </h1>
        </div>
        <div class="container-fluid img_container">
          <img
            src="../../../../assets/mainblog/blogimg2.png"
            alt=""
            style="width: 100%;"
            srcset=""
          />
        </div>
        <!--  -->
        <div class="p1_text_container">
          <h1 class="main_blog_text">
            Have you ever had one of those days? You know, where you’ve got 6010
            in one back pocket and 7018 in the other and the metal seems to
            stretch on for miles? Now that’s a welding work day many of us can
            relate to…
          </h1>
        </div>
        <div class="p2_text_container">
          <h1 class="main_blog_text">
            For me, stick welding is where I feel my roots and the proud
            memories of the dedication and discipline it took to become a pipe
            fitter and welder. I feel lucky that my first welding job was as a
            hand on a pipe crew. The craftsmanship and mastery I witnessed there
            have never left me. I watched my welder make an orange peel bell
            reducer once, and that set me on the path of learning layout… Of
            course “Mr. Grinder” and I became very good friends at that point.
          </h1>
        </div>
        <div class="p2_text_container">
          <h1 class="main_blog_text">
            I feel lucky that my first welding job was as a hand on a pipe crew.
            The craftsmanship and mastery I witnessed there have never left me.
            I watched my welder make an orange peel bell reducer once, and that
            set me on the path of learning layout… Of course “Mr. Grinder” and I
            became very good friends at that point.
          </h1>
          <br />
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>

  <!---- Similar Reading main blog container---------->

  <div
    class="container-fluid"
    style="background-color: var(--main-parent-colorTwo);"
  >
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div>
          <h1 class="Similar_blog_heading mt-5 mb-4">Similar Reading</h1>
          <div class="row">
            <div class="col-md-6">
              <h5 class="card_date mt-3">Dec 14, 2019 Topic</h5>
              <h5 class="card_heading mt-3">
                Aviation’s Quick Six with Advanced Technology Engineering
              </h5>
              <br />
              <h6 class="read_more mb-5 mt-1">Read more</h6>
            </div>
            <div class="col-md-6">
              <h5 class="card_date mt-3">Dec 14, 2019 Topic</h5>
              <h5 class="card_heading mt-3">
                The Morgan Stanley Global Consumer & Retail Investor Conference
              </h5>
              <br />
              <h6 class="read_more mb-5 mt-1">Read more</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>

  <!-------Subscribe to D&H Secheron Insights Blog------->
  <div class="container-fluid blog_subscribe_bg">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <form action="">
          <h1 class="Subscribe_blog_heading">
            Subscribe to D&H Secheron Insights Blog
          </h1>
          <div class="form-group col-lg-7 mb-5 p-0">
            <input
              type="email"
              class="form-control Subscribe_email_blog_input"
              placeholder="Enter your email address here
                    "
              id="email"
            />
          </div>
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>


