a{
    text-decoration: none !important;
}
    .section{
        height: 100vh;
        width: 100vw;
        background-color: transparent;
    }




    .logo_control{
        width: 220px;
        margin-left: 16px;
    }
    .navbar_link{
    text-transform: uppercase;
    font-size: 1vw;
    margin-right: 42px;
    color: #7B7B7A;
    font-weight: bold;
    }
    .language_bar{
        height: auto;
        background: transparent;
    }
    .grid_border{
        border: 1px solid transparent;
    }
    .language_text_right{
        text-align: end;
        font-size: 1vw;
        text-transform: uppercase;
        padding: 2px;
        color: white;
        font-weight: 600;
    }
    .language_text_left{
        text-align: start;
        font-size: 1vw;
        text-transform: uppercase;
        padding: 2px;
        margin-left: 14px;
        color: white;
        font-weight: 600;
    }
    /* css main home page */
    .main_home_page{
        background-image: url(../../../assets/bgi.PNG);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
    }
    
   
    input:focus, textarea:focus, select:focus{
        outline: none;
    }
  
    input::placeholder {
        color: black;
        font-size: 2vw;

    }
    .home_bottom_nav_link{
        font-size: 1.3vw;
        text-transform: capitalize;
        color: #7B7B7A;
    }
    .home_search_icon{
        font-size: 1.5vw;
        color: var(--main-parent-colorOne);
        font-weight: 600;
    }
    
    .language_bar_for_sub_home_two{
        background-color: #FAFAFA;
    }
    #bgNavBar{
    background-color: white;
    }
    .navbar_link_sub_home{
    text-transform: uppercase;
    font-size: 1vw;
    margin-right: 42px;
    color: #7B7B7A;
    font-weight: bold;
    }
    .language_text_left_sub_home{
    text-align: start;
        font-size: 1vw;
        text-transform: uppercase;
        padding: 2px;
        color: #7B7B7A;
        font-weight: 600;
    }
    .language_text_right_sub_home{
    text-align: end;
    font-size: 1vw;
    text-transform: uppercase;
    padding: 2px;
    color:#7B7B7A;
    font-weight: 600;
    }
    #logo_control_sub_home{
    width: 180px;
        margin-left: 16px;
    }
    .sub_home_margin{
    height: 150px;
    }
    .grid_one{
    border-top: 2px solid rgb(182, 181, 181);
    }
    .sub_grid_padding{
    padding: 40px;
    }
    .sub_home_left_icon_sub_text{
    color: #7B7B7A;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.2vw;
    }
    .sub_grid_bottom_navbar_left{
    text-align: start;
    font-size: 1.5vw;
    text-transform: capitalize;
    }
    .sub_grid_bottom_navbar_center{
    text-align: center;
    font-size: 1.3vw;
    color: var(--main-parent-colorOne);
    }
    .sub_grid_bottom_navbar_right{
    text-align: end;
    font-size: 1.5vw;
    text-transform: capitalize;
    }
    /* top */
    .home_search_icon_sub_home_nav{
    color: var(--main-parent-colorOne);
    }
    .sub_home_nav_search_bar{
    display: block;
    width: 100%;
    padding: 2px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .sub_home_nav_search_bar::placeholder{
    color: black;
        font-size: 1vw;
    }
    .sub_home_nav_search_bar_aria{
    border: 1px solid gray;
    }



    .god_css{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .address_contect_bar{
        color: #7B7B7A;
        font-size: 1vw;
        font-weight: bold;
    }
    .address_contect_bar_right{
        color: #7B7B7A;
        font-size: 1vw;
        text-align: end;
        font-weight: bold;
    }
    .logo_control_home_product_finder{
        width: 170px;
    }
    .cat1{
        background-color: var(--main-parent-colorOne);
        position: relative;
        z-index: 25;
    }
    .link_E_P_F{
        color: gray;
    }
    .link_E_P_F:hover{
        color: black;
    }
    .product_finder_pading_control{
        padding: 100px;
    }
    .easy_product_finder_right{
    text-align: end;
    font-size: 1.3vw;
    }
    .easy_product_finder_left{
        text-align: start;
        font-size: 1.3vw;
    }
    .easy_product_finder_center{
        text-align: center;
        font-size: 1.3vw;
    }

    .home_five_footer{
        height: 100vh;
        background-color: #EEE9E9;
    }
    .five_home_top_margin{
        height: 130px;
    }
    .back_to_home{
        text-align: center;
        font-size: 1.2vw;
        text-transform: uppercase;
    }
    .icon_back_to_home{
        text-align: center;
        font-size: 2.5vw;
    }
    .table_box{
        height: auto;
        background-color: transparent;
    }
    tr{
        color: black;
        font-weight: 400;
    }
    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border:none !important;
    }
    th{
        color: var(--main-parent-colorOne);
        text-transform: uppercase;
    }
    .table_text{
        color: #E31E24;
        text-transform: uppercase;
        font-size: 1.2vw;
    }
    .home_address{
        text-align: start;
    }
    .home_social_link{
        text-align: start;
    }
    .table_link{
        text-align: start;
        font-weight: 400;

    }

    .link_pf{
        background: #E31E24;
        padding-left:20px ;
        padding-right:100px ;
        padding-top: 8px;
        padding-bottom: 8px;
        color: white;
        border-radius: 20px;
    }
    .changing_search{
      box-shadow: none !important;
      border: none !important;
    }
    body,html{overflow:hidden;margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0)}.pp-section{height:100%;position:absolute;width:100%;backface-visibility:hidden}.pp-easing{-webkit-transition:all 1s cubic-bezier(.55,.085,0,.99);-moz-transition:all 1s cubic-bezier(.55,.085,0,.99);-o-transition:all 1s cubic-bezier(.55,.085,0,.99);transition:all 1s cubic-bezier(.55,.085,0,.99);-webkit-transition-timing-function:cubic-bezier(.55,.085,0,.99);-moz-transition-timing-function:cubic-bezier(.55,.085,0,.99);-o-transition-timing-function:cubic-bezier(.55,.085,0,.99);transition-timing-function:cubic-bezier(.55,.085,0,.99)}#pp-nav{position:fixed;z-index:100;margin-top:-32px;top:50%;opacity:1}#pp-nav.right{right:17px}#pp-nav.left{left:17px}.pp-section.pp-table{display:table}.pp-tableCell{display:table-cell;vertical-align:middle;width:100%;height:100%}.pp-slidesNav{position:absolute;z-index:4;left:50%;opacity:1}.pp-slidesNav.bottom{bottom:17px}.pp-slidesNav.top{top:17px}#pp-nav ul,.pp-slidesNav ul{margin:0;padding:0}#pp-nav li,.pp-slidesNav li{display:block;width:14px;height:13px;margin:7px;position:relative}.pp-slidesNav li{display:inline-block}#pp-nav li a,.pp-slidesNav li a{display:block;position:relative;z-index:1;width:100%;height:100%;cursor:pointer;text-decoration:none}#pp-nav li .active span,.pp-slidesNav .active span{background:#333}#pp-nav span,.pp-slidesNav span{top:2px;left:2px;width:8px;height:8px;border:1px solid #000;background:rgba(0,0,0,0);border-radius:50%;position:absolute;z-index:1}.pp-tooltip{position:absolute;top:-2px;color:#fff;font-size:14px;font-family:arial,helvetica,sans-serif;white-space:nowrap;max-width:220px}.pp-tooltip.right{right:20px}.pp-tooltip.left{left:20px}.pp-scrollable{overflow-y:scroll;height:100%}
