<div class="container-fluid p-0">

    <div class="container-fluid easy_product_finder_page">
      <!-- margin top-->
     <div class="container-fluid" style="height: 140px; border: 1px solid transparent"></div>
     <!--  -->
     <div class="container-fluid">
       <h1 class="easy_product_finder_heading">Easy Product Finder</h1>
       <h4 class="easy_product_finder_tagline">tagline about product finder goes here</h4>
     </div>
    <!--  -->
    <div class="container product_finder_pading_control">
      <img src="./img/welding.png" class="img-fluid product_finder_img rounded-circle" alt="" srcset="">
      <!-- Easy Product Finder module -->
           <div class="container d-flex justify-content-center align-items-center nav_module_aria">
             
             <div class="container nav_module_link_aria">
               <div class="row">
                 <!-- Product Finder link 1 -->
                 <div class="col-md-3 p-1">

                   <a href="" style="text-decoration: none;">
                     <div class="row">
                       <div class="col-2"></div>
                       <div class="col-2"> 

                         <div class="finder_nav_number god_css">
                           <h3 class="nav_number">1</h3>
                         </div>

                       </div>
                       <div class="col-8 find_link_container">
                         <h3 class="finder_nav_link">product&nbsp;
                           <i class="fas fa-chevron-down"></i>
                         </h3>
                       </div>
                     </div>
                   </a>

                 </div>
                 <!-- Product Finder link 2 -->
                 <div class="col-md-3 p-1">

                   <a href="" style="text-decoration: none;">
                     <div class="row">
                       <div class="col-2"></div>
                       <div class="col-2"> 

                         <div class="finder_nav_number god_css">
                           <h3 class="nav_number">2</h3>
                         </div>

                       </div>
                       <div class="col-8 find_link_container">
                         <h3 class="finder_nav_link">process&nbsp;
                           <i class="fas fa-chevron-down"></i>
                         </h3>
                       </div>
                     </div>
                   </a>

                 </div>
                 <!-- Product Finder link 3 -->
                 <div class="col-md-3 p-1">

                   <a href="" style="text-decoration: none;">
                     <div class="row">
                       <div class="col-2"></div>
                       <div class="col-2"> 

                         <div class="finder_nav_number god_css">
                           <h3 class="nav_number">3</h3>
                         </div>

                       </div>
                       <div class="col-8 find_link_container">
                         <h3 class="finder_nav_link">Category&nbsp;
                           <i class="fas fa-chevron-down"></i>
                         </h3>
                       </div>
                     </div>
                   </a>

                 </div>
                 <!-- Product Finder link 4 -->
                 <div class="col-md-3 p-1">

                   <a href="" style="text-decoration: none;">
                     <div class="row">
                       <div class="col-2"></div>
                       <div class="col-2"> 

                         <div class="finder_nav_number god_css">
                           <h3 class="nav_number">4</h3>
                         </div>

                       </div>
                       <div class="col-8 find_link_container">
                         <h3 class="finder_nav_link">sort&nbsp;
                           <i class="fas fa-chevron-down"></i>
                         </h3>
                       </div>
                     </div>
                   </a>

                 </div>

               </div>
             </div>
           </div>
      <!--  -->
   </div>

   <!-- bottom navbar -->
   <div class="container-fluid fixed-bottom">
     <div class="row">
       <div class="col-3">
         <h4 class="easy_product_finder_left">
           <i class="fas fa-long-arrow-alt-left"></i>
           Milestone About</h4>
       </div>
       <div class="col-6">
         <h4 class="easy_product_finder_center">
           <i class="fas fa-minus-circle mr-3"></i>
           <i class="fas fa-minus-circle mr-3"></i>
           <i class="fas fa-minus-circle mr-3" style="color: #E31E24;"></i>
           <i class="fas fa-minus-circle mr-3"></i>
           <i class="fas fa-minus-circle mr-3"></i>
         </h4>
       </div>
       <div class="col-3">
         <h4 class="easy_product_finder_right">Contact Overview
           <i class="fas fa-long-arrow-alt-right"></i>
         </h4>
       </div>
     </div>
   </div>

 </div>
    
  </div>