<div class="container-fluid p-0">

    <div class="container-fluid easy_product_finder_page">
      <!-- margin top-->
     <div class="container-fluid" style="height: 140px; border: 1px solid transparent"></div>
     <!--  -->
     <div class="container-fluid">
       <h1 class="easy_product_finder_heading">Easy Product Finder</h1>
       <h4 class="easy_product_finder_tagline">tagline about product finder goes here</h4>
     </div>
    <!--  -->
    <div class="container product_finder_pading_control">
      <img src="../../../assets/welding.png" class="img-fluid product_finder_img rounded-circle" alt="" srcset="">
      <!-- Easy Product Finder module -->
           <div class="container d-flex justify-content-center align-items-center nav_module_aria">
             
             <div class="container nav_module_link_aria">
               <div class="row">
                 <!-- Product Finder link 1 -->
                <div class="col-md-3 p-1 god_css">

                  <div>
                    <div class="dropdown">
                      <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false"
                              style="background: transparent; box-shadow: none;"
                      >
                        <h5 class="link_E_P_F"><span class="finder_nav_number">1</span>&nbsp;&nbsp;&nbsp;Product&nbsp;&nbsp;
                          <i class="fa fa-angle-down"></i></h5>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">link here</a>
                        <a class="dropdown-item" href="#">link here</a>
                        <a class="dropdown-item" href="#">link here</a>
                      </div>
                      
                    </div>
                  </div>

                </div>

                <!-- Product Finder link 2 -->
                <div class="col-md-3 p-1">

                  <div>
                    <div class="dropdown">
                      <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false"
                              style="background: transparent; box-shadow: none;"
                      >
                        <h5 class="link_E_P_F"><span class="finder_nav_number">2</span>&nbsp;&nbsp;&nbsp;Process&nbsp;&nbsp;
                          <i class="fa fa-angle-down"></i></h5>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">link here</a>
                        <a class="dropdown-item" href="#">link here</a>
                        <a class="dropdown-item" href="#">link here</a>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- Product Finder link 3 Category -->
                <div class="col-md-3 p-1">

                  <div>
                    <div class="dropdown">
                      <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false"
                              style="background: transparent; box-shadow: none;"
                      >
                        <h5 class="link_E_P_F"><span class="finder_nav_number">3</span>&nbsp;&nbsp;&nbsp;Category&nbsp;&nbsp;
                          <i class="fa fa-angle-down"></i></h5>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">link here</a>
                        <a class="dropdown-item" href="#">link here</a>
                        <a class="dropdown-item" href="#">link here</a>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- Product Finder link 4 Category-->
                <div class="col-md-3 p-1">

                  <div>
                    <div class="dropdown">
                      <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false"
                              style="background: transparent; box-shadow: none;"
                      >
                        <h5 class="link_E_P_F"><span class="finder_nav_number">4</span>&nbsp;&nbsp;&nbsp;Sort&nbsp;&nbsp;
                          <i class="fa fa-angle-down"></i></h5>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">link here</a>
                        <a class="dropdown-item" href="#">link here</a>
                        <a class="dropdown-item" href="#">link here</a>
                      </div>
                    </div>
                  </div>

                </div>

               </div>
             </div>
           </div>
      <!--  -->
   </div>

   <!-- bottom navbar -->
   <div class="container-fluid fixed-bottom">
     <div class="row">
       <div class="col-3">
         <h4 class="easy_product_finder_left">
           <i class="fas fa-long-arrow-alt-left"></i>
           Milestone About</h4>
       </div>
       <div class="col-6">
         <h4 class="easy_product_finder_center">
           <i class="fas fa-minus-circle mr-3"></i>
           <i class="fas fa-minus-circle mr-3"></i>
           <i class="fas fa-minus-circle mr-3" style="color: #E31E24;"></i>
           <i class="fas fa-minus-circle mr-3"></i>
           <i class="fas fa-minus-circle mr-3"></i>
         </h4>
       </div>
       <div class="col-3">
         <h4 class="easy_product_finder_right">Contact Overview
           <i class="fas fa-long-arrow-alt-right"></i>
         </h4>
       </div>
     </div>
   </div>

 </div>
    
  </div>