<div class="container-fluid Case_Studies_BG p-0 animated fadeIn" onmouseover="navBarColorBefore()">

    <!--      page 1 Product Finder   -->
    <div class="container-fluid Product_Finder_bg p-0">
      <!--  -->
      <div style="height: 150px;"></div>
        <!--  -->
<!--------------main product -------------------->
                    <br>
 <div class="container main_product_container"  onmouseout="mainProducthoverout()">
   <div class="row">
     <div class="col-md-5">
       <!-- product img -->
       <div style="min-height: 300px;" class="god_css">
        <img src="https://2.imimg.com/data2/TO/ME/MY-/mig-welding-machine-250x250.jpg" class="Main_product_img mx-auto d-block" alt="" srcset="">
       </div>

       <!-- product_btn_source -->
       <div class="row">
         <div class="col-md-6">
          <button type="button" class="btn btn-primary btn-block mt-3 custom_product_img_btn">DOWNLOAD SPECS</button>
         </div>
         <div class="col-md-6">
          <button type="button" class="btn btn-primary btn-block mt-3 custom_product_img_btn">ENQUIRE NOW</button>
         </div>
       </div>
       <br><br>
       <!--  -->
     </div>
     <div class="col-md-7" id="style-3">
       <h1 class="name_main_product">Wuerth MIG Welding System , Current: 20-250 A</h1>
       <h1 class="sec_name_main_product">CELLUTHERME®</h1>
       <h1 class="main_product_model_num">AWS: E6010&nbsp;&nbsp;&nbsp;&nbsp;IS: EC4310X</h1>

       <!-- product description row -->
       <div class="row mt-4">
         <div class="col-lg-11">
          <h1 class="main_product_description">We hold specialization in offering a broad array of TIG Cold Wire Feeders, which facilitates automated TIG welding. These feeders also assist in enhancing the productivity of appropriate manual welding processes. The wire guiding parts up to the welding arc, electrical control systems and mechanical drive units are the main dff</h1>
         </div>
         <div class="col-lg-1"></div>
       </div>
       <!--  -->
     </div>
   </div>
          <!--Approvals row  -->
          <h1 class="Approvals_text mt-3 mb-3">Approvals</h1>
          <div class="row">
            <div class="col-6 col-md-4">
   
              <h1 class="Approvals_value"><img src="../../../../assets/product/certication12.png" width="30px" alt="" srcset="">&nbsp;&nbsp;&nbsp;&nbsp;<span>AWS A5.1/A5.1M:</span></h1> 
   
            </div>
            <div class="col-6 col-md-5">
   
             <h1 class="Approvals_value"><img src="../../../../assets/product/certiefication12.png" class="pt-2 pb-2" width="80px" alt="" srcset="">&nbsp;&nbsp;&nbsp;&nbsp;<span>AWS A5.1/A5.1M:</span></h1> 
   
            </div>
            <div class="col-12 col-md-3">
   
            </div>
          </div>
         
          <!-- product table -->
   
          <div class="container-fluid product_table_bg p-0 mt-5">
            <div style="background: rgb(240, 238, 238);">
            <h1 class="product_table_heading pt-1 pb-1 pl-2">Typical Chemical Composition</h1>
           </div>
   
            <!-- table 1 -->
           <div class="table-responsive">
           <table class="table">
             <tbody>
               <tr>
                 <td>Element</td>
                 <td>C</td>
                 <td>Mn</td>
                 <td>Si</td>
                 <td>S</td>
                 <td>p</td>
               </tr>
               <tr>
                 <td>Percent</td>
                 <td>0.07</td>
                 <td>0.50</td>
                 <td>0.20</td>
                 <td>0.016</td>
                 <td>0.018</td>
               </tr>
             </tbody>
           </table>
         </div>
       <!-- table 1 -->
   
          </div>
          <!-- table 2 -->
          <div class="container-fluid product_table_bg p-0 mt-5">
           <div style="background: rgb(240, 238, 238);">
           <h1 class="product_table_heading pt-1 pb-1 pl-2">Typical Mechanical Properties</h1>
          </div>
   
           <!-- table 1 -->
          <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>Element</td>
                <td>C</td>
                <td>Mn</td>
                <td>Si</td>
                <td>S</td>
                <td>p</td>
              </tr>
              <tr>
                <td>Percent</td>
                <td>0.07</td>
                <td>0.50</td>
                <td>0.20</td>
                <td>0.016</td>
                <td>0.018</td>
              </tr>
            </tbody>
          </table>
        </div>
      <!-- table 1 -->
   
         </div>
         <!-- table 3 -->
         <div class="container-fluid product_table_bg p-0 mt-5">
           <div style="background: rgb(240, 238, 238);">
           <h1 class="product_table_heading pt-1 pb-1 pl-2">Current and Packing Data</h1>
          </div>
   
           <!-- table 1 -->
          <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>Element</td>
                <td>C</td>
                <td>Mn</td>
                <td>Si</td>
                <td>S</td>
                <td>p</td>
              </tr>
              <tr>
                <td>Percent</td>
                <td>0.07</td>
                <td>0.50</td>
                <td>0.20</td>
                <td>0.016</td>
                <td>0.018</td>
              </tr>
            </tbody>
          </table>
        </div>
      <!-- table 1 -->
   
         </div>
                               <br><br>
 </div>
        
<!--------------////////////-------------------->
         <br><br>
<!----------------------Other Mild Steel Electrode--------------->
<div class="container-fluid" style="background: white;">

<div class="container Other_grid_container" onmouseover="mainProducthoverin()">
  <h1 class="Other_grid_heading pt-5 pb-5">Other Mild Steel Electrode</h1>
  <!-- row 1 -->
  <div class="row">
    <div class="col-md-4">
      <div class="row mt-4">
        <div class="col-4">
          <img src="https://5.imimg.com/data5/QY/GF/MY-6089537/engine-driven-welder-125x125.jpg" class="img-fluid Other_grid_img" alt="" srcset="">
        </div>
        <div class="col-8 page3_grid">
          <div>
            <h1 class="page3_heading">LoTherme - 200</h1>
            <h1 class="page3_heading_model">E8010-G</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row mt-4">
        <div class="col-4">
          <img src="https://5.imimg.com/data5/QY/GF/MY-6089537/engine-driven-welder-125x125.jpg" class="img-fluid Other_grid_img" alt="" srcset="">
        </div>
        <div class="col-8 page3_grid">
          <div>
            <h1 class="page3_heading">LoTherme - 200</h1>
            <h1 class="page3_heading_model">E8010-G</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row mt-4">
        <div class="col-4">
          <img src="https://5.imimg.com/data5/QY/GF/MY-6089537/engine-driven-welder-125x125.jpg" class="img-fluid Other_grid_img" alt="" srcset="">
        </div>
        <div class="col-8 page3_grid">
          <div>
            <h1 class="page3_heading">LoTherme - 200</h1>
            <h1 class="page3_heading_model">E8010-G</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- row 2 -->
  <div class="row mt-3 mb-5">
    <div class="col-md-4">
      <div class="row mt-4">
        <div class="col-4">
          <img src="https://5.imimg.com/data5/QY/GF/MY-6089537/engine-driven-welder-125x125.jpg" class="img-fluid Other_grid_img" alt="" srcset="">
        </div>
        <div class="col-8 page3_grid">
          <div>
            <h1 class="page3_heading">LoTherme - 200</h1>
            <h1 class="page3_heading_model">E8010-G</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row mt-4">
        <div class="col-4">
          <img src="https://5.imimg.com/data5/QY/GF/MY-6089537/engine-driven-welder-125x125.jpg" class="img-fluid Other_grid_img" alt="" srcset="">
        </div>
        <div class="col-8 page3_grid">
          <div>
            <h1 class="page3_heading">LoTherme - 200</h1>
            <h1 class="page3_heading_model">E8010-G</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row mt-4">
        <div class="col-4">
          <img src="https://5.imimg.com/data5/QY/GF/MY-6089537/engine-driven-welder-125x125.jpg" class="img-fluid Other_grid_img" alt="" srcset="">
        </div>
        <div class="col-8 page3_grid">
          <div>
            <h1 class="page3_heading">LoTherme - 200</h1>
            <h1 class="page3_heading_model">E8010-G</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
</div>
<!----------------------/////////////////////////--------------->
    </div>
    
    <!-- page 2 all product  -->

  </div>
  