<div
  class="container-fluid Case_Studies_BG p-0"
  onmouseover="navBarColorBefore()"
>
  <!--      page 1 Product Finder   -->
  <div class="container-fluid Product_Finder_bg">
    <!--  -->
    <div style="height: 150px;"></div>
    <!--  -->

    <h1 class="page_product_path">
      HOME • <span style="color: black;"
        >PRODUCT CATEGORIES</span
      >
    </h1>
    <!-- Product heading -->
    <h1 class="products_heading mt-4 mb-4">Product Finder</h1>
    <!--  -->
    <div class="Page2_outer_Product_Finder_bar">
      <div class="container-fluid Product_Finder_navBar pt-4 pb-3 pl-3 pr-3">
        <div class="row">
          <div class="col-md-3">
            <h1 class="page2_nav_text">
              <span class="nav_num pl-4 pr-4 pt-3 pb-3 rounded-circle">1</span
              >&nbsp;&nbsp;&nbsp;&nbsp;Reclamation Welding
            </h1>
          </div>
          <!--  -->
          <div class="col-md-3">
            <h1 class="page2_nav_text">
              <span class="nav_num pl-4 pr-4 pt-3 pb-3 rounded-circle">2</span
              >&nbsp;&nbsp;&nbsp;&nbsp;Low Heat Input SMAW
            </h1>
          </div>
          <!--  -->
          <div class="col-md-4">
            <h1 class="page2_nav_text">
              <span class="nav_num pl-4 pr-4 pt-3 pb-3 rounded-circle">3</span
              >&nbsp;&nbsp;&nbsp;&nbsp;Carbon & Low Alloy Electrodes
            </h1>
          </div>
          <!--  -->
          <div class="col-md-2">
            <h1 class="page2_nav_text">
              <span class="nav_num pl-4 pr-4 pt-3 pb-3 rounded-circle">4</span
              >&nbsp;&nbsp;&nbsp;&nbsp;Sort
            </h1>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
    <br /><br />
  </div>

  <!-- page 2 all product  -->

  <!-- Product row 1 -->
  <div class="container-fluid mt-4">
    <div class="row">
      <!-- product 1 -->
      <div class="col-md-6 p-4">
        <div class="row">
          <div class="col-3 god_css">
            <img
              src="../../../../assets/product/main_product_img.png"
              class="product_img"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-9 product_container">
            <div>
              <!-- product name -->
              <h1 class="all_Product_name">
                <!-- name of product -->
                LoTherme-200
                <!-- model num -->
                <span style="color: black; font-weight: 300; font-size: 12px;"
                  >&nbsp;&nbsp;&nbsp;&nbsp;E8010-G</span
                >
              </h1>

              <h1 class="All_product_description">
                Medium heavy rutile coated mild steel electrode designed for
                welding of unalloyed structural steels in all positions. The
                electrode gives smooth radiographic quality.
              </h1>

              <a
                [routerLink]="['../../mainproduct']"
                style="text-decoration: none;"
                ><h1 class="Go_to_pro">Go to Product</h1></a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- product 2 -->
      <div class="col-md-6 p-4">
        <div class="row">
          <div class="col-3 god_css">
            <img
              src="../../../../assets/product/product_img.png"
              class="product_img"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-9 product_container">
            <div>
              <!-- product name -->
              <h1 class="all_Product_name">
                <!-- name of product -->
                LoTherme-210
                <!-- model num -->
                <span style="color: black; font-weight: 300; font-size: 12px;"
                  >&nbsp;&nbsp;&nbsp;&nbsp;E8010-G</span
                >
              </h1>

              <h1 class="All_product_description">
                Medium heavy rutile coated mild steel electrode designed for
                welding of unalloyed structural steels in all positions. The
                electrode gives smooth radiographic quality.
              </h1>

              <a href="./main_product.html" style="text-decoration: none;"
                ><h1 class="Go_to_pro">Go to Product</h1></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Product row 2 -->
  <div class="container-fluid">
    <div class="row">
      <!-- product 1 -->
      <div class="col-md-6 p-4">
        <div class="row">
          <div class="col-3 god_css">
            <img
              src="../../../../assets/product/product_img.png"
              class="product_img"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-9 product_container">
            <div>
              <!-- product name -->
              <h1 class="all_Product_name">
                <!-- name of product -->
                LoTherme-200
                <!-- model num -->
                <span style="color: black; font-weight: 300; font-size: 12px;"
                  >&nbsp;&nbsp;&nbsp;&nbsp;E8010-G</span
                >
              </h1>

              <h1 class="All_product_description">
                Medium heavy rutile coated mild steel electrode designed for
                welding of unalloyed structural steels in all positions. The
                electrode gives smooth radiographic quality.
              </h1>

              <a href="./main_product.html" style="text-decoration: none;"
                ><h1 class="Go_to_pro">Go to Product</h1></a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- product 2 -->
      <div class="col-md-6 p-4">
        <div class="row">
          <div class="col-3 god_css">
            <img
              src="../../../../assets/product/product_img.png"
              class="product_img"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-9 product_container">
            <div>
              <!-- product name -->
              <h1 class="all_Product_name">
                <!-- name of product -->
                LoTherme-353
                <!-- model num -->
                <span style="color: black; font-weight: 300; font-size: 12px;"
                  >&nbsp;&nbsp;&nbsp;&nbsp;E8010-G</span
                >
              </h1>

              <h1 class="All_product_description">
                Medium heavy rutile coated mild steel electrode designed for
                welding of unalloyed structural steels in all positions. The
                electrode gives smooth radiographic quality.
              </h1>

              <a href="./main_product.html" style="text-decoration: none;"
                ><h1 class="Go_to_pro">Go to Product</h1></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Product row 3 -->
  <div class="container-fluid mb-5">
    <div class="row">
      <!-- product 1 -->
      <div class="col-md-6 p-4">
        <div class="row">
          <div class="col-3 god_css">
            <img
              src="../../../../assets/product/product_img.png"
              class="product_img"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-9 product_container">
            <div>
              <!-- product name -->
              <h1 class="all_Product_name">
                <!-- name of product -->
                LoTherme-200
                <!-- model num -->
                <span style="color: black; font-weight: 300; font-size: 12px;"
                  >&nbsp;&nbsp;&nbsp;&nbsp;E8010-G</span
                >
              </h1>

              <h1 class="All_product_description">
                Medium heavy rutile coated mild steel electrode designed for
                welding of unalloyed structural steels in all positions. The
                electrode gives smooth radiographic quality.
              </h1>

              <a href="./main_product.html" style="text-decoration: none;"
                ><h1 class="Go_to_pro">Go to Product</h1></a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- product 2 -->
      <div class="col-md-6 p-4">
        <div class="row">
          <div class="col-3 god_css">
            <img
              src="../../../../assets/product/product_img.png"
              class="product_img"
              alt=""
              srcset=""
            />
          </div>
          <div class="col-9 product_container">
            <div>
              <!-- product name -->
              <h1 class="all_Product_name">
                <!-- name of product -->
                LoTherme-210
                <!-- model num -->
                <span style="color: black; font-weight: 300; font-size: 12px;"
                  >&nbsp;&nbsp;&nbsp;&nbsp;E8010-G</span
                >
              </h1>

              <h1 class="All_product_description">
                Medium heavy rutile coated mild steel electrode designed for
                welding of unalloyed structural steels in all positions. The
                electrode gives smooth radiographic quality.
              </h1>

              <a href="./main_product.html" style="text-decoration: none;"
                ><h1 class="Go_to_pro">Go to Product</h1></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
</div>

<app-footer></app-footer>
