#bgNavBar {
  transition: all;
}
/* home_contact_bar_ css */
.home_contact_bar_link {
  color: #7e7e7e;
  font-weight: 600;
  font-size: 13px;
}
.link_icon {
  position: relative;
  top: 4px;
  font-size: 20px;
  font-weight: 400;
}
.link_item_center {
  display: flex;
  justify-content: start;
  align-items: center;
}
/*--------------- main nav bar css---------------*/
.logo_res {
  width: 180px;
  transition-duration: 300ms;
}
.H_manu {
  color: #e74c3c;
  font-size: 50px;
}
.navbar_link_sub_home {
  text-transform: uppercase;
  font-size: 15px;
  margin-right: 42px;
  color: #7e7e7e;
  font-weight: bold;
}
.active{
  color: #e74c3c; 
}
.manu_icon {
  outline: none;
  background-color: transparent;
  border: none;
}
/* search bar */
.searchbar {
  height: auto;
  background-color: white;
  border-radius: 30px;
  padding: 5px;
  padding-left: 10px;
}

.search_input {
  color: black;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  width: 140px;
  caret-color: var(--main-parent-colorOne);
  transition: width 0.4s linear;
  padding-left: 12px;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: var(--main-parent-colorOne);
  text-decoration: none;
  padding: 0px !important;
  background-color: transparent;
  box-shadow: none;
}

.a_t_r {
  color: var(--main-parent-colorOne);
}

/*  in media css nav bar full size*/
@media screen and (max-width: 992px) {
  .search_input {
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 80%;
    caret-color: transparent;
    transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input {
    width: 80%;
    caret-color: var(--main-parent-colorOne);
    transition: width 0.4s linear;
    padding-left: 12px;
  }
}
@media screen and (max-width: 767px) {
  .searchbar {
    padding: 0px;
  }
  .fixed_aria {
    -webkit-box-shadow: 0px 5px 9px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 9px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 9px -6px rgba(0, 0, 0, 0.75);
  }
}
