<div class="container-fluid p-0">

    <div class="container-fluid sub_home_two_bg">

      <div class="container-fluid sub_home_margin">

      </div>
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-lg-6 sub_home_two_grid d-flex justify-content-start align-items-center">
            <div class="sub_grid_left_padding">
              <h3 class="sub_home_left_icon_text">
                consistent quality.
              </h3>
              <h3 class="sub_home_left_icon_text">
                innovative products for complete welding
              </h3>
              <!--  -->
              <h5 class="sub_home_left_icon_sub_text mt-3">D&H secheron is one of the welding manufacturers in
                india</h5>
              <!--  -->
              <div class="container-fluid p-4">
                <div class="row">
                  <div class="col-3">
                    <img src="./../assets/image/10 Bureau Veritas.png"
                         class="img-fluid sub_home_two_grid_icon mx-auto d-block" alt="" srcset="">
                  </div>
                  <div class="col-3">
                    <img src="./../assets/image/dnv.png" class="img-fluid sub_home_two_grid_icon mx-auto d-block"
                         alt="" srcset="">
                  </div>
                  <div class="col-3">
                    <img src="./../assets/image/03 Nuclear Power Corporation of India Ltd.png"
                         class="img-fluid sub_home_two_grid_icon mx-auto d-block" alt="" srcset="">
                  </div>
                  <div class="col-3">
                    <img src="./../assets/image/07 Indian Register of Shipping.png"
                         class="img-fluid sub_home_two_grid_icon mx-auto d-block" alt="" srcset="">
                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class="col-lg-6 sub_home_two_grid">

            <div class="sub_grid_padding">

              <div class="container-fluid row_one">
                <div class="row">
                  <div class="col-6 sub_home_grid_six_padding">

                    <h1 class="text-center" style="color: var(--main-parent-colorOne);"><span id="count1" class="sub_home_grid_six_number">54</span>+</h1>

                    <h6 class="sub_home_grid_six_text">years of experience</h6>
                  </div>
                  <div class="col-6 sub_home_grid_six_padding grid_left">

                    <h1 class="text-center" style="color: var(--main-parent-colorOne);"   ><span id="count2" class="sub_home_grid_six_number">54</span>+</h1>

                    <h6 class="sub_home_grid_six_text">industries catered</h6>
                  </div>
                </div>
              </div>

              <div class="container-fluid row_two">
                <div class="row">
                  <div class="col-6 sub_home_grid_six_padding">

                    <h1 class="text-center" style="color: var(--main-parent-colorOne);"><span id="count3" class="sub_home_grid_six_number">54</span>+</h1>

                    <h6 class="sub_home_grid_six_text">countries covered</h6>
                  </div>
                  <div class="col-6 sub_home_grid_six_padding grid_left">

                    <h1 class="text-center" style="color: var(--main-parent-colorOne);"><span id="count4" class="sub_home_grid_six_number">54</span>+</h1>

                    <h6 class="sub_home_grid_six_text">employer</h6>
                  </div>
                </div>
              </div>

              <div class="container-fluid row_three">
                <div class="row">
                  <div class="col-6 sub_home_grid_six_padding">

                    <h1 class="text-center" style="color: var(--main-parent-colorOne);"><span id="count5" class="sub_home_grid_six_number">54</span>+</h1>

                    <h6 class="sub_home_grid_six_text">products</h6>
                  </div>
                  <div class="col-6 sub_home_grid_six_padding grid_left">

                    <h1 class="text-center" style="color: var(--main-parent-colorOne);"><span id="count6" class="sub_home_grid_six_number">54</span>+</h1>


                    <h6 class="sub_home_grid_six_text">SKUs</h6>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- bottom navbar -->
      <div class="container-fluid fixed-bottom">
        <div class="row">
          <div class="col-3">
            <h4 class="easy_product_finder_left">
              <i class="fas fa-long-arrow-alt-left"></i>
              Home</h4>
          </div>
          <div class="col-6">
            <h4 class="easy_product_finder_center">
              <i class="fas fa-minus-circle mr-3"></i>
              <i class="fas fa-minus-circle mr-3" style="color: #E31E24;"></i>
              <i class="fas fa-minus-circle mr-3"></i>
              <i class="fas fa-minus-circle mr-3"></i>
              <i class="fas fa-minus-circle mr-3"></i>
            </h4>
          </div>
          <div class="col-3">
            <h4 class="easy_product_finder_right">Contact Overview
              <i class="fas fa-long-arrow-alt-right"></i>
            </h4>
          </div>
        </div>
      </div>

    </div>

  </div>
