.top_margin_overview {
  height: 160px;
}
.overview_bg {
  background: #e7e7e7;
}
.overview_linkpath {
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
}
.overview_heading {
  text-align: center;
  font-weight: bold;
  color: var(--main-parent-colorOne);
  padding: 8px;
  font-size: 55px;
}
.overview_para_heading {
  font-size: 23px;
  text-align: center;
  font-weight: 600;
}
.overview_para {
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  color: rgb(68, 67, 67);
}
.VMV_bg {
  background-color: var(--main-parent-colorOne);
  padding-top: 70px;
  padding-bottom: 100px;
}
.overview_ico_img {
  width: 140px;
}
.VMV_text {
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  color: white;
}
.icon_heading {
  text-align: center;
  font-size: 27px;
  font-weight: 600;
  color: white;
}

/* Our_Committment_heading */

.Our_Committment_heading {
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: 45px;
}
.Our_Committment_card {
  border: 1px solid rgb(209, 208, 208);
  height: 250px;
}
.Our_Committment_card:hover {
  border: 1px solid var(--main-parent-colorOne);
  height: 250px;
}
.Our_Committment_card_heading {
  text-align: center;
  font-size: 21px;
}
.Our_Committment_card_text {
  color: rgb(145, 143, 143);
  text-align: center;
}
/* Board of Directors */
.Board_of_Directors_heading {
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: 45px;
}
.directors_card_blank {
  height: 200px;
}
.directors_card {
  height: 200px;
}
.name_of_directors {
  text-align: center;
  font-size: 23px;
}
.directors_post {
  text-align: center;
  font-size: 15px;
  color: rgb(168, 167, 167);
}
/* mQ */
@media screen and (max-width: 767px) {
  .overview_heading {
    font-size: 50px;
    padding: 4px;
  }
  .overview_para_heading {
    font-size: 20px;
    margin-top: 12px !important;
  }
  .overview_para {
    font-size: 14px;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }
  .overview_ico_img {
    width: 130px !important;
  }
  .icon_heading {
    font-size: 24px;
  }
  .VMV_bg {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid white;
  }
  .Our_Committment_heading {
    font-size: 40px;
    padding: 7px !important;
  }
  .Our_Committment_card_heading {
    font-size: 18px;
  }
  .directors_card_blank{
    height: 0px;
}
  .Our_Committment_card {
    height: 240px;
  }
  .Our_Committment_card:hover {
    height: 240px;
  }
  .Board_of_Directors_heading {
    font-size: 40px;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
  }
  .directors_card {
    height: 100px;
  }
  .name_of_directors {
    font-size: 20px;
  }
  .directors_post {
    font-size: 12px;
  }
}
