.Student_Center_BG {
  background-color: #f6f6f6;
}
.Student_Center_img {
  background-color: #f6f6f6;
}

.Student_Center_heading {
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  color: black;
}
.Student_margin_top {
  height: 50px;
}
.cat_tag {
  border-right: 1px solid rgb(214, 212, 212);
}
.student_Categories {
  font-size: 16.3px;
  font-weight: 700;
  cursor: pointer;
}
.student_Tags {
  font-size: 16.3px;
  font-weight: 700;
  cursor: pointer;
}
.student_search_bg {
  background-color: #f6f6f6;
  width: 94% !important;
  position: relative;
}
.student_custom_bar {
  border-radius: 25px;
  background: white;
  -webkit-box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.75);
}
.student_search_bar {
  border: none !important;
  box-shadow: none !important;
}
.S_search_bg {
  background: transparent !important;
  border: none !important;
}
/* all card */
.card_ui {
}
.No_blue_line {
  text-decoration: none !important;
}
.card_date {
  text-align: start;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: gray;
}
.card_heading {
  text-align: start;
  font-size: 21.8px;
  font-weight: 600;
  color: black;
}
.scrollbar {
  height: 100px;
  width: 100%;
  background: white;
  cursor: pointer;
}

.force-overflow {
  min-height: 200px;
}

.card_description {
  padding-top: 16px;
  font-size: 16.3px;
  font-weight: 450;
}
.read_more {
  text-align: start;
  font-size: 16.3px;
  color: #e31e24;
  font-weight: bolder;
}
/* Student_All_Resources_btn */
.Student_All_Resources_btn {
  background-color: white;
  border: 1px solid #e31e24 !important;
  border-radius: 22px !important;
  color: #e31e24;
  box-shadow: none !important;
  font-weight: 700 !important;
}
.Student_All_Resources_btn:hover {
  background-color: #e31e24;
  color: white;
}
.Knowledge_path {
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  color: gray;
}
/* mq */
@media screen and (max-width: 767px) {
  .Student_Center_heading {
    font-size: 43px;
  }
  .card_heading {
    font-size: 18.4px;
  }
  .card_description {
    font-size: 13px;
  }
  .read_more {
    font-size: 13px;
  }
  .Student_margin_top {
    height: 20px;
  }
  .cat_tag {
    border-right: 1px solid transparent;
  }
  .student_Categories,
  .student_Tags {
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 14px;
    color: gray;
    font-weight: 400;
  }
  .student_Categories span {
    display: none;
  }
  .student_Tags span {
    display: none;
  }
  .student_custom_bar {
    border-radius: 0px;
    background: transparent;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .student_search_bg {
    width: 100% !important;
  }
  .mobile_search,
  .student_search_bar {
    background-color: white;
    border-radius: 18px;
  }
  .mobile_search,
  .student_Categories,
  .student_Tags {
    -webkit-box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
  }
}
