<div
  class="container-fluid Student_Center_BG p-0"
  onmouseover="navBarColorBefore()"
>
  <div class="container-fluid Student_Center_img">
    <!--  -->
    <div style="height: 170px;"></div>
    <!--  -->
    <h1 class="Knowledge_path">
      HOME •<span style="color: black;">
        CERTIFICATIONS
      </span>
    </h1>
    <!--  -->
    <h1 class="Student_Center_heading mt-4">Student Center</h1>

    <!--  -->
    <div class="Student_margin_top" ></div>
    <!--  -->
  </div>

  <!-- student search -->
  <div class="container-fluid student_search_bg">
    <!-- search bar -->
    <div class="row student_custom_bar">
      <div class="col-md-5">
        <div class="row">
          <div
            data-toggle="dropdown"
            class="col-6 cat_tag god_css pt-2 pb-2"
            
          >
            <h1 class="student_Categories mt-2">
              Categories&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;<i
                class="fa fa-chevron-down"
                style="color: grey;"
              ></i>
            </h1>
            <!-- dropdown -->
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
            <!--  -->
          </div>
          <div
            data-toggle="dropdown"
            class="col-6 god_css"
            style="border-right: 1px solid rgb(214, 212, 212);"
          >
            <h1 class="student_Tags mt-2">
              Tags&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;<i
                class="fa fa-chevron-down"
                style="color: grey;"
              ></i>
            </h1>
            <!-- dropdown -->
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
            <!--  -->
          </div>
        </div>
      </div>
      <div class="col-md-7 god_css">
        <div class="input-group mobile_search">
          <input
            type="search"
            class="form-control student_search_bar"
            placeholder="Search D&H Secheron Student Center"
            id="usr"
            name="username"
          />
          <div class="input-group-prepend">
            <span class="input-group-text S_search_bg">
              <i class="fa fa-search" style="color: #e32127;"></i>
            </span>
          </div>
        </div>
      </div>
      <!--  -->
    </div>
    <!--  -->
    <br /><br />
    <!-- Student Center card 1-->
    <div class="row" style="background: white;">
      <div class="col-md-4 card_ui p-3">
        <!-- card -->
        <h5 class="card_date mt-3">
          <a class="card_date" style="text-decoration: none;" href=""
            >Category</a
          >
          <a class="card_date ml-4" style="text-decoration: none;" href=""
            >Tag</a
          >
        </h5>
        <h5 class="card_heading mt-3">
          Aviation’s Quick Six with Advanced Technology Engineering
        </h5>
        <!-- scroll bar -->
        <div class="scrollbar" id="style-3">
          <!-- blog description here  -->
          <h6 class="card_description mt-2">
            Today celebrating International Day of Persons with Disabilities
            across our global sites. We recognize this important day and reflect
            on the ways in which our
          </h6>
          <!--  -->
          <div class="force-overflow"></div>
        </div>
        <!-- scroll bar// -->
        <br />
        <h6 class="read_more mb-4 mt-1">Read more</h6>
        <!-- -->
        <hr />
      </div>
      <!--  -->
      <div class="col-md-4 card_ui p-3">
        <!-- card -->
        <h5 class="card_date mt-3">
          <a class="card_date" style="text-decoration: none;" href=""
            >Category</a
          >
          <a class="card_date ml-4" style="text-decoration: none;" href=""
            >Tag</a
          >
        </h5>
        <h5 class="card_heading mt-3">
          Aviation’s Quick Six with Advanced Technology Engineering
        </h5>
        <!-- scroll bar -->
        <div class="scrollbar" id="style-3">
          <!-- blog description here  -->
          <h6 class="card_description mt-2">
            Today celebrating International Day of Persons with Disabilities
            across our global sites. We recognize this important day and reflect
            on the ways in which our
          </h6>
          <!--  -->
          <div class="force-overflow"></div>
        </div>
        <!-- scroll bar// -->
        <br />
        <h6 class="read_more mb-4 mt-1">Read more</h6>
        <!-- -->
        <hr />
      </div>
      <!--  -->
      <div class="col-md-4 card_ui p-3">
        <!-- card -->
        <h5 class="card_date mt-3">
          <a class="card_date" style="text-decoration: none;" href=""
            >Category</a
          >
          <a class="card_date ml-4" style="text-decoration: none;" href=""
            >Tag</a
          >
        </h5>
        <h5 class="card_heading mt-3">
          Aviation’s Quick Six with Advanced Technology Engineering
        </h5>
        <!-- scroll bar -->
        <div class="scrollbar" id="style-3">
          <!-- blog description here  -->
          <h6 class="card_description mt-2">
            Today celebrating International Day of Persons with Disabilities
            across our global sites. We recognize this important day and reflect
            on the ways in which our
          </h6>
          <!--  -->
          <div class="force-overflow"></div>
        </div>
        <!-- scroll bar// -->
        <br />
        <h6 class="read_more mb-4 mt-1">Read more</h6>
        <!-- -->
        <hr />
      </div>
      <!--  -->
    </div>
    <!--  -->

    <!-- Student Center card 1-->
    <div class="row" style="background: white;">
      <div class="col-md-4 card_ui p-3">
        <!-- card -->
        <h5 class="card_date mt-3">
          <a class="card_date" style="text-decoration: none;" href=""
            >Category</a
          >
          <a class="card_date ml-4" style="text-decoration: none;" href=""
            >Tag</a
          >
        </h5>
        <h5 class="card_heading mt-3">
          Aviation’s Quick Six with Advanced Technology Engineering
        </h5>
        <!-- scroll bar -->
        <div class="scrollbar" id="style-3">
          <!-- blog description here  -->
          <h6 class="card_description mt-2">
            Today celebrating International Day of Persons with Disabilities
            across our global sites. We recognize this important day and reflect
            on the ways in which our
          </h6>
          <!--  -->
          <div class="force-overflow"></div>
        </div>
        <!-- scroll bar// -->
        <br />
        <h6 class="read_more mb-4 mt-1">Read more</h6>
        <!-- -->
        <hr />
      </div>
      <!--  -->
      <div class="col-md-4 card_ui p-3">
        <!-- card -->
        <h5 class="card_date mt-3">
          <a class="card_date" style="text-decoration: none;" href=""
            >Category</a
          >
          <a class="card_date ml-4" style="text-decoration: none;" href=""
            >Tag</a
          >
        </h5>
        <h5 class="card_heading mt-3">
          Aviation’s Quick Six with Advanced Technology Engineering
        </h5>
        <!-- scroll bar -->
        <div class="scrollbar" id="style-3">
          <!-- blog description here  -->
          <h6 class="card_description mt-2">
            Today celebrating International Day of Persons with Disabilities
            across our global sites. We recognize this important day and reflect
            on the ways in which our
          </h6>
          <!--  -->
          <div class="force-overflow"></div>
        </div>
        <!-- scroll bar// -->
        <br />
        <h6 class="read_more mb-4 mt-1">Read more</h6>
        <!-- -->
        <hr />
      </div>
      <!--  -->
      <div class="col-md-4 card_ui p-3">
        <!-- card -->
        <h5 class="card_date mt-3">
          <a class="card_date" style="text-decoration: none;" href=""
            >Category</a
          >
          <a class="card_date ml-4" style="text-decoration: none;" href=""
            >Tag</a
          >
        </h5>
        <h5 class="card_heading mt-3">
          Aviation’s Quick Six with Advanced Technology Engineering
        </h5>
        <!-- scroll bar -->
        <div class="scrollbar" id="style-3">
          <!-- blog description here  -->
          <h6 class="card_description mt-2">
            Today celebrating International Day of Persons with Disabilities
            across our global sites. We recognize this important day and reflect
            on the ways in which our
          </h6>
          <!--  -->
          <div class="force-overflow"></div>
        </div>
        <!-- scroll bar// -->
        <br />
        <h6 class="read_more mb-4 mt-1">Read more</h6>
        <!-- -->
        <hr />
      </div>
      <!--  -->
    </div>
    <!--  -->

    <!-- Student Center card 1-->
    <div class="row" style="background: white;">
      <div class="col-md-4 card_ui p-3">
        <!-- card -->
        <h5 class="card_date mt-3">
          <a class="card_date" style="text-decoration: none;" href=""
            >Category</a
          >
          <a class="card_date ml-4" style="text-decoration: none;" href=""
            >Tag</a
          >
        </h5>
        <h5 class="card_heading mt-3">
          Aviation’s Quick Six with Advanced Technology Engineering
        </h5>
        <!-- scroll bar -->
        <div class="scrollbar" id="style-3">
          <!-- blog description here  -->
          <h6 class="card_description mt-2">
            Today celebrating International Day of Persons with Disabilities
            across our global sites. We recognize this important day and reflect
            on the ways in which our
          </h6>
          <!--  -->
          <div class="force-overflow"></div>
        </div>
        <!-- scroll bar// -->
        <br />
        <h6 class="read_more mb-4 mt-1">Read more</h6>
        <!-- -->
        <hr />
      </div>
      <!--  -->
      <div class="col-md-4 card_ui p-3">
        <!-- card -->
        <h5 class="card_date mt-3">
          <a class="card_date" style="text-decoration: none;" href=""
            >Category</a
          >
          <a class="card_date ml-4" style="text-decoration: none;" href=""
            >Tag</a
          >
        </h5>
        <h5 class="card_heading mt-3">
          Aviation’s Quick Six with Advanced Technology Engineering
        </h5>
        <!-- scroll bar -->
        <div class="scrollbar" id="style-3">
          <!-- blog description here  -->
          <h6 class="card_description mt-2">
            Today celebrating International Day of Persons with Disabilities
            across our global sites. We recognize this important day and reflect
            on the ways in which our
          </h6>
          <!--  -->
          <div class="force-overflow"></div>
        </div>
        <!-- scroll bar// -->
        <br />
        <h6 class="read_more mb-4 mt-1">Read more</h6>
        <!-- -->
        <hr />
      </div>
      <!--  -->
      <div class="col-md-4 card_ui p-3">
        <!-- card -->
        <h5 class="card_date mt-3">
          <a class="card_date" style="text-decoration: none;" href=""
            >Category</a
          >
          <a class="card_date ml-4" style="text-decoration: none;" href=""
            >Tag</a
          >
        </h5>
        <h5 class="card_heading mt-3">
          Aviation’s Quick Six with Advanced Technology Engineering
        </h5>
        <!-- scroll bar -->
        <div class="scrollbar" id="style-3">
          <!-- blog description here  -->
          <h6 class="card_description mt-2">
            Today celebrating International Day of Persons with Disabilities
            across our global sites. We recognize this important day and reflect
            on the ways in which our
          </h6>
          <!--  -->
          <div class="force-overflow"></div>
        </div>
        <!-- scroll bar// -->
        <br />
        <h6 class="read_more mb-4 mt-1">Read more</h6>
        <!-- -->
        <hr />
      </div>
      <!--  -->
    </div>
    <!--  -->
    <!-- -------------btn................. -->

    <div class="row" style="background: white;">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <button
          type="button"
          class="btn btn-block Student_All_Resources_btn mt-4 mb-5"
        >
          View All Resources
        </button>
      </div>
      <div class="col-md-5"></div>
    </div>
  </div>
</div>

<app-footer></app-footer>
